# Module 2 Assessment

Welcome to your Mod 2 Assessment. You will be tested for your understanding of concepts and ability to solve problems that have been covered in class and in the curriculum.

Use any libraries you want to solve the problems in the assessment.

You will have up to two hours to complete this assessment.

The sections of the assessment are:

- Accessing Data Through APIs
- Object Oriented Programming
- SQL and Relational Databases
- HTML, CSS and Web Scraping
- Other Database Structures (MongoDB)

In this assessment you will be exploring two datasets: Pokemon and Quotes.

In [240]:
# import the necessary libraries

import requests
import json
import pandas as pd
import sqlite3
from bs4 import BeautifulSoup

## Part 1: Accessing Data Through APIs

In this section we'll be using PokeAPI to get data on Pokemon. Let's first define functions to get information from the API. Provided below is a URL that will get you started with the first 151 Pokemon! Run the cell below to see what we get.

In [241]:
url = 'https://pokeapi.co/api/v2/pokemon/?limit=151'
results = requests.get(url).json()['results']

#get all pokemon names
def save_poke_names(results):
    pokemon_names = []
    for result in results:
        pokemon_names.append(result['name'])
    return pokemon_names

pokemon_names = save_poke_names(results)

# create the url list
def create_urls(pokemon_names):
    urls = []
    for name in pokemon_names:
        urls.append(f'https://pokeapi.co/api/v2/pokemon/{name}/')
    
    return urls

[Read the documentation here](https://pokeapi.co/) for information on navigating this API and use the API to obtain data to answer the following questions.

### Accessing Data

1. For any **one** Pokemon, retrieve the following information in a dictionary format with the following keys:
    - ID
    - Name
    - Base experience
    - Weight
    - Height
    - Types
    - Abilities

For `Types` and `Abilities`, you might want to write helper functions to have each attribute just be a list of types and a list of abilities. Your output should look like this:

```
{'id': 1, 
'name': 'bulbasaur', 
'base_experience': 64, 
'weight': 69, 
'height': 7, 
'types': ['poison', 'grass'], 
'abilities': ['chlorophyll', 'overgrow']}

```

In [242]:
# extract from each individual pokemon URL the 'abilities'
def p_abilities(pokemon):
    #if one ability 
    try:
        abilities = pokemon['abilities']['name']
    #more than one ability
    except:
        abilities = []
        for ability in pokemon['abilities']:
            abilities.append(ability['ability']['name'])            
    return abilities

In [90]:
# extract all the types each pokemon url has
def p_types(pokemon):
    try:
        types = pokemon['types']['type']['name']
    except:
        types = []
        for one in pokemon['types']:
            types.append(one['type']['name'])
    return types
# bulb = requests.get('https://pokeapi.co/api/v2/pokemon/bulbasaur/').json()
# p_types(bulb)

['poison', 'grass']

In [95]:
# create dictionary for a single pokemon
def get_pokedata(url):
    pokedex = {}
    pokemon = requests.get(url).json()
    pokedex['id'] = pokemon['id']
    pokedex['name'] = pokemon['name']
    pokedex['base_experience'] = pokemon['base_experience']
    pokedex['weight'] = pokemon['weight']
    pokedex['height'] = pokemon['height']
    pokedex['types'] =  p_types(pokemon)
    pokedex['abilities'] =  p_abilities(pokemon)
    return  pokedex

# get_pokedata('https://pokeapi.co/api/v2/pokemon/bulbasaur/')

{'id': 1,
 'name': 'bulbasaur',
 'base_experience': 64,
 'weight': 69,
 'height': 7,
 'types': ['poison', 'grass'],
 'abilities': ['chlorophyll', 'overgrow']}

In [102]:
def insert_to_pokedex(url_list):
    pokedex = []
    for url in url_list:
        pokedex.append(get_pokedata(url))
    return pokedex

In [105]:
def pokeda151():
    raw_pokemons = requests.get(url).json()['results']
    pokemon_names = save_poke_names(raw_pokemons)
    pokemon_urls = create_urls(pokemon_names)
    pokedex = insert_to_pokedex(pokemon_urls)
    return pokedex
    
# pokedex = pokeda151()

{'id': 1, 'name': 'bulbasaur', 'base_experience': 64, 'weight': 69, 'height': 7, 'types': ['poison', 'grass'], 'abilities': ['chlorophyll', 'overgrow']} {'id': 151, 'name': 'mew', 'base_experience': 270, 'weight': 40, 'height': 4, 'types': ['psychic'], 'abilities': ['synchronize']}

### Pagination

2. Get the same information for the first **151** Pokemon as a list of dictionaries ordered by Pokemon ID. Print the first and last elements of the list. (Hint: Use pagination) Your output should save the list to a variable and look like this:

```
[{'id': 1, 
'name': 'bulbasaur', 
'base_experience': 64, 
'weight': 69, 
'height': 7, 
'types': ['poison', 'grass'], 
'abilities': ['chlorophyll', 'overgrow']}, 
{'id': 2, 
'name': 'ivysaur', 
'base_experience': 142, 
'weight': 130, 
'height': 10, 
'types': ['poison', 'grass'], 
'abilities': ['chlorophyll', 'overgrow']}, ... ]

```

In [106]:
pokedata = pokedex

In [107]:
# printing first and last elements
print(pokedata[0], pokedata[-1])

{'id': 1, 'name': 'bulbasaur', 'base_experience': 64, 'weight': 69, 'height': 7, 'types': ['poison', 'grass'], 'abilities': ['chlorophyll', 'overgrow']} {'id': 151, 'name': 'mew', 'base_experience': 270, 'weight': 40, 'height': 4, 'types': ['psychic'], 'abilities': ['synchronize']}

## Part 2: Object Oriented Programming

We're going to use the data gathered in the previous section on APIs for this section on Object Oriented Programming to instantiate Pokemon objects and write instance methods.

### Creating a Class

1. Create a class called `Pokemon` with an `__init__` method to instantiate the following attributes:
    - ID
    - Name
    - Base experience
    - Weight
    - Height
    - Types
    - Abilities

In [ ]:
# if you were unable to get the data from the API in the right format,
# uncomment the code below to access a JSON file with the list of dictionaries

# with open('data/pokemon.json') as f:  
#     pokelist = json.load(f)

In [183]:
class Pokemon:
    def __init__(self, pokemon):
        self.pokemon = pokemon
        self.weight = self.Weight()
        self.height = self.Height()
        

    def ID(self):
        return self.pokemon['id']
    
    def Name(self):
        return self.pokemon['name']
    
    def Base_experience(self):
        return self.pokemon['base_experience']
    
    def Weight(self):
        return self.pokemon['weight']
    
    def Height(self):
        return self.pokemon['height']
    
    def Types(self):
        return self.pokemon['types']
    
    def Abilities(self):
        return self.pokemon['abilities']
        
    def bmi(self):
        weight = self.weight*0.1
        height = self.height*0.1
        return round(weight/height**2, 2)
    pass

    
### Instantiating Objects

2. Using the data you obtained from the API, instantiate the first, fourth and seventh Pokemon. Assign them to the variables `bulbasaur`, `charmander` and `squirtle`.

In [185]:
bulbasaur = Pokemon(pokedata[0])
ivysaur = Pokemon(pokedata[5])
venusaur = Pokemon(pokedata[7])

In [150]:
# run this cell to test and check your code
# you may need to edit the attribute variable names if you named them differently!

def print_pokeinfo(pokemon_object):
    o = pokemon_object
    print('ID: ' + str(o.ID) + '\n' +
          'Name: ' + o.name.title() + '\n' +
          'Base experience: ' + str(o.exp) + '\n' +
          'Weight: ' + str(o.weight) + '\n' +
          'Height: ' + str(o.height) + '\n' +
          'Types: ' + str(o.types) + '\n' +
          'Abilities: ' + str(o.abilities) + '\n'
         )
    
print_pokeinfo(bulbasaur)
print_pokeinfo(ivysaur)
print_pokeinfo(venusaur)

TypeError: can only concatenate str (not "method") to str

### Instance Methods

3. Write an instance method within the class `Pokemon` to find the BMI of a Pokemon. BMI is defined by $\frac{weight}{height^{2}}$ with weight in **kilograms** and height in **meters**. The height and weight data of Pokemon from the API is in **decimeters** and **hectograms** respectively.


    1 decimeter = 0.1 meters
    1 hectogram = 0.1 kilograms

In [243]:
# run this cell to test and check your code
# you will probably have to rerun the code to instantiate your objects

print(bulbasaur.bmi()) # 14.08
print(charmander.bmi()) # 23.61
print(squirtle.bmi()) # 36

14.08

NameError: name 'charmander' is not defined

## Part 3: SQL and Relational Databases

For this section, we've put the Pokemon data into SQL tables. You won't need to use your list of dictionaries or the JSON file for this section. The schema of `pokemon.db` is as follows:

<img src="data/pokemondb.png" alt="db schema" style="width:500px;"/>

Assign your SQL queries as strings to the variables `q1`, `q2`, etc. and run the cells at the end of this section to print your results as Pandas DataFrames.

- q1: query all columns from `Pokemon` the Pokemon that have base_experience above 200  

  
- q2: query the id, name, type1 and type2 of Pokemon that have **water** types as either their first or second type


- q3: query the average weight of Pokemon by their first type in descending order


- q4: query the Pokemon name, Pokemon type2, and what **type2** has "2xdamage" to


- q5: query the top 5 most common type1s, the minimum height, maximum height, minimum weight and maximum weight of pokemon with those type1s, and what associated type they do "0.5xdamage" to


**Important note on syntax**: use `double quotes ""` when quoting strings **within** your query and wrap the entire query in `single quotes ''` For the column titles that begin with numbers, you need to wrap the column names in double quotes.

In [186]:
cnx = sqlite3.connect('data/pokemon.db')

In [215]:
q1 = 'SELECT * FROM Pokemon WHERE base_experience > 200;'
# pd.read_sql(q1, cnx)

In [190]:
q2 = '''SELECT id, name, type1, type2 FROM Pokemon
        WHERE type1 == "water" or type2 == "water";
     '''
# pd.read_sql(q2, cnx)

In [197]:
q3 = '''SELECT AVG(weight) as Average_Weight, type1 as First_Type
        FROM Pokemon
        GROUP BY First_Type
        ORDER BY Average_Weight DESC;
        '''
# pd.read_sql(q3, cnx)

In [244]:
q4 = '''SELECT type2, t.'2xdamage' as 'you joking me!?'
        FROM Pokemon p
        JOIN types t
        on p.type2 = t.name
        GROUP BY type2;
     '''
# pd.read_sql(q4, cnx)

In [239]:
#query the top 5 most common type1s, the minimum height, maximum height, 
#minimum weight and maximum weight of pokemon with those type1s, and  what associated type they do "0.5xdamage" to
q5 = '''SELECT type1 AS Type, COUNT(*), 
        MIN(height), MAX(height), 
        MIN(weight), MAX(weight), t.'0.5xdamage'
        FROM Pokemon p
        JOIN types t
        on p.type1 = t.name
        GROUP BY Type
        
        LIMIT 5
        
     '''
pd.read_sql(q5, cnx)

,Type,COUNT(*),MIN(height),MAX(height),MIN(weight),MAX(weight),0.5xdamage
0,bug,12,3,15,29,560,fighting
1,dragon,3,18,40,33,2100,fire
2,electric,9,3,16,60,666,flying
3,fairy,2,6,13,75,400,fighting
4,fighting,7,5,16,195,1300,rock

## Section 4: Web Scraping

### Accessing Data Using BeautifulSoup

Use BeautifulSoup to get quotes, authors, and tags from [Quotes to Read](http://quotes.toscrape.com/).

Before answering these questions, go to the site and inspect the page. Make sure to look at what links there are and how the site is structured.

1. Get the first author and the path for the author's page as a tuple from the [homepage](http://quotes.toscrape.com/).

In [424]:

# Make a get request to retrieve the page
html_page = requests.get('http://quotes.toscrape.com/') 
# Pass the page contents to beautiful soup for parsing
soup = BeautifulSoup(html_page.content, 'html.parser')

# find quote
# quotes = soup.find('div', class_="quote")
quotes= soup.findAll(class_="text")
quotes[0].text
# authors = soup.findAll(class_="author")

# links = soup.findAll('span')
# links[5].find('a').get('href')

'“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”'

2. Write a function to get **all** the authors and href links for the authors from the [homepage](http://quotes.toscrape.com/)

In [435]:
def authors(url):
    '''
    input: url
    
    return: a dictionary of of authors and their urls
            {'author_1':'url_of_author_1', 'author_2':'url_of_author_2' ...}
    '''
    html_page = requests.get(url)
    soup = BeautifulSoup(html_page.content, 'html.parser')
    authors = soup.findAll(class_="author")
    author_list = []
    links = soup.findAll('span')
    urls = []
    for link in links:
        try:
            urls.append(link.find('a').get('href'))
        except:
            continue
    ind = 0
    for author in authors:
        authors_url = {}
        authors_url[author.text] = f'http://quotes.toscrape.com{urls[ind]}/'
        author_list.append(authors_url)
        ind += 1
    return author_list

d = authors('http://quotes.toscrape.com/')
d[0].keys()

dict_keys(['Albert Einstein'])

In [422]:
# run this cell to test the function
print(authors('http://quotes.toscrape.com/'))
print('\n')
print(authors('http://quotes.toscrape.com/page/3'))

[{'Pablo Neruda': 'http://quotes.toscrape.com/author/Pablo-Neruda/'}, {'Ralph Waldo Emerson': 'http://quotes.toscrape.com/author/Ralph-Waldo-Emerson/'}, {'Mother Teresa': 'http://quotes.toscrape.com/author/Mother-Teresa/'}, {'Garrison Keillor': 'http://quotes.toscrape.com/author/Garrison-Keillor/'}, {'Jim Henson': 'http://quotes.toscrape.com/author/Jim-Henson/'}, {'Dr. Seuss': 'http://quotes.toscrape.com/author/Dr-Seuss/'}, {'Albert Einstein': 'http://quotes.toscrape.com/author/Albert-Einstein/'}, {'J.K. Rowling': 'http://quotes.toscrape.com/author/J-K-Rowling/'}, {'Albert Einstein': 'http://quotes.toscrape.com/author/Albert-Einstein/'}, {'Bob Marley': 'http://quotes.toscrape.com/author/Bob-Marley/'}]

### Pagination

3. Get the first author on each of the first 5 pages of quotes. You can get to the next page with the next button at the bottom of the homepage.

In [ ]:
# Your code here

4. Write a function to get all of the quotes from a page.

In [443]:
def get_some_quotes(url=None):
    '''
    input: url, number of pages to scrap (just scrape the home page if no argument is passed in)
    
    return: a list of dictionaries of quotes with their attributes
            [{'quote':'quote_1_text', 'author':'url_of_author_1'}, 
            {'quote':'quote_2_text', 'author':'url_of_author_2', 'quote_tags':[list_of_quote_2_tags]}, ...]
    '''
    if not url:
        url = 'http://quotes.toscrape.com/'
    else:
        html_page = requests.get(url)
        soup = BeautifulSoup(html_page.content, 'html.parser')
        quotes = soup.findAll(class_="text")
        list_authors_dict = authors(url)
        
        ind = 0
        for dicti in list_authors_dict:
            list_authors_dict[ind]['quote'] = quotes[ind].text
            ind += 1
    
        return list_authors_dict
a =get_some_quotes('http://quotes.toscrape.com/')
a[0]

{'Albert Einstein': 'http://quotes.toscrape.com/author/Albert-Einstein/',
 'quote': '“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”'}

In [441]:
# # set the function to a variable to use later
# quotes_for_mongo = get_some_quotes('http://quotes.toscrape.com/' )
# quotes_for_mongo

[{'Albert Einstein': 'http://quotes.toscrape.com/author/Albert-Einstein/',
  'quote': '“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”'},
 {'J.K. Rowling': 'http://quotes.toscrape.com/author/J-K-Rowling/',
  'quote': '“It is our choices, Harry, that show what we truly are, far more than our abilities.”'},
 {'Albert Einstein': 'http://quotes.toscrape.com/author/Albert-Einstein/',
  'quote': '“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”'},
 {'Jane Austen': 'http://quotes.toscrape.com/author/Jane-Austen/',
  'quote': '“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”'},
 {'Marilyn Monroe': 'http://quotes.toscrape.com/author/Marilyn-Monroe/',
  'quote': "“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”"},
 {'Albert Einstein': 'http://quotes.toscrape.com/author/Albert-Einstein/',
  'quote': '“Try not to become a man of success. Rather become a man of value.”'},
 {'André Gide': 'http://quotes.toscrape.com/author/Andre-Gide/',
  'quote': '“It is better to be hated for what you are than to be loved for what you are not.”'},
 {'Thomas A. Edison': 'http://quotes.toscrape.com/author/Thomas-A-Edison/',
  'quote': "“I have not failed. I've just found 10,000 ways that won't work.”"},
 {'Eleanor Roosevelt': 'http://quotes.toscrape.com/author/Eleanor-Roosevelt/',
  'quote': "“A woman is like a tea bag; you never know how strong it is until it's in hot water.”"},
 {'Steve Martin': 'http://quotes.toscrape.com/author/Steve-Martin/',
  'quote': '“A day without sunshine is like, you know, night.”'}]

## Part 5: MongoDB

To do this section, open a connection to a mongo database in the terminal, using `mongod`. You will then **create**, **update**, and **read** from a mongo database.

Create and connect to a mongo database.

In [ ]:
myclient = pymongo.MongoClient("mongodb://127.0.0.1:27017/")
mydb = myclient['quote_database']

In [ ]:
mycollection = mydb['quote_collection']

1. Add the quotes you obtained from the `get_some_quotes` function for the [homepage](http://quotes.toscrape.com/) to the mongo database. (You can also use the JSON file `quotes.json` to insert data into the database) To verify that you've successfully inserted the data, query it to obtain the resulting _ids back from the `results` variable.

In [ ]:
# if you were unable to get the data from webscraping in the right format,
# uncomment the code below to access a JSON file with the list of dictionaries

# with open(r"data/quotes.json", "r") as r:
#     data = json.load(r)

In [ ]:
# use the results variable to confirm the data was inserted
results = None

2. Query the database for all the quotes written by `'Albert Einstein'`.

In [ ]:
q1 = None

3. Update Steve Martin's quote with the tags for the quote stored in the variable `steve_martin_tags`.

In [ ]:
steve_martin_tags = {'quote_tags': ['change', 'deep-thoughts', 'thinking', 'world']}
update_steve = None
first_quote_tags = None

4. Query the database to confirm that  `'Steve Martin'` is updated with `steve_martin_tags`.

In [ ]:
q2 = None