# Module 2 Assessment

Welcome to your Mod 2 Assessment. You will be tested for your understanding of concepts and ability to solve problems that have been covered in class and in the curriculum.

Use any libraries you want to solve the problems in the assessment.

You will have up to two hours to complete this assessment.

The sections of the assessment are:

- Accessing Data Through APIs
- Object Oriented Programming
- SQL and Relational Databases
- HTML, CSS and Web Scraping
- Other Database Structures (MongoDB)

In this assessment you will be exploring two datasets: Pokemon and Quotes.

In [102]:
# import the necessary libraries

import requests
import json
import pandas as pd
import sqlite3
from bs4 import BeautifulSoup
# import pymongo

## Part 1: Accessing Data Through APIs

In this section we'll be using PokeAPI to get data on Pokemon. Let's first define functions to get information from the API. Provided below is a URL that will get you started with the first 151 Pokemon! Run the cell below to see what we get.

In [103]:
url = 'https://pokeapi.co/api/v2/pokemon/?limit=151'
results = requests.get(url).json()['results']
# results

[Read the documentation here](https://pokeapi.co/) for information on navigating this API and use the API to obtain data to answer the following questions.

### Accessing Data

1. For any **one** Pokemon, retrieve the following information in a dictionary format with the following keys:
    - ID
    - Name
    - Base experience
    - Weight
    - Height
    - Types
    - Abilities

For `Types` and `Abilities`, you might want to write helper functions to have each attribute just be a list of types and a list of abilities. Your output should look like this:

```
{'id': 1, 
'name': 'bulbasaur', 
'base_experience': 64, 
'weight': 69, 
'height': 7, 
'types': ['poison', 'grass'], 
'abilities': ['chlorophyll', 'overgrow']}

```

In [104]:
# you may define helper functions for types and abilities here
def get_poke_types(pokemon):
    retVal = []
    for poke_info in pokemon['types']:
        retVal.append(poke_info['type']['name'])
    return retVal

def get_poke_abilities(pokemon):
    retVal = []
    for poke_info in pokemon['abilities']:
        retVal.append(poke_info['ability']['name'])
    return retVal

In [105]:

def get_pokedata(url):
    
    """
    url is a string of the URL that will get you the relevant info from the API
    
    this function should return the dictionary for ONE pokemon
    
    """
    my_pokemon = requests.get(url).json()
    retVal = {'id':my_pokemon['id'],'name':my_pokemon['name'],'base_experience':my_pokemon['base_experience'],
              'weight':my_pokemon['weight'],'height':my_pokemon['height'],
              'types':get_poke_types(my_pokemon),'abilities':get_poke_abilities(my_pokemon)}
    return retVal

In [106]:
my_starter = get_pokedata(results[6]['url'])

### Pagination

2. Get the same information for the first **151** Pokemon as a list of dictionaries ordered by Pokemon ID. Print the first and last elements of the list. (Hint: Use pagination) Your output should save the list to a variable and look like this:

```
[{'id': 1, 
'name': 'bulbasaur', 
'base_experience': 64, 
'weight': 69, 
'height': 7, 
'types': ['poison', 'grass'], 
'abilities': ['chlorophyll', 'overgrow']}, 
{'id': 2, 
'name': 'ivysaur', 
'base_experience': 142, 
'weight': 130, 
'height': 10, 
'types': ['poison', 'grass'], 
'abilities': ['chlorophyll', 'overgrow']}, ... ]

```

In [107]:
""" 

Assign to "pokedata" the list of 151 dictionaries.
You may use your function from the previous question.

"""

# Your code here
pokedata = [get_pokedata(pokemon['url']) for pokemon in results]


# pokedata = None

In [36]:
# pokedata

[{'id': 1,
  'name': 'bulbasaur',
  'base_experience': 64,
  'weight': 69,
  'height': 7,
  'types': ['poison', 'grass'],
  'abilities': ['chlorophyll', 'overgrow']},
 {'id': 2,
  'name': 'ivysaur',
  'base_experience': 142,
  'weight': 130,
  'height': 10,
  'types': ['poison', 'grass'],
  'abilities': ['chlorophyll', 'overgrow']},
 {'id': 3,
  'name': 'venusaur',
  'base_experience': 236,
  'weight': 1000,
  'height': 20,
  'types': ['poison', 'grass'],
  'abilities': ['chlorophyll', 'overgrow']},
 {'id': 4,
  'name': 'charmander',
  'base_experience': 62,
  'weight': 85,
  'height': 6,
  'types': ['fire'],
  'abilities': ['solar-power', 'blaze']},
 {'id': 5,
  'name': 'charmeleon',
  'base_experience': 142,
  'weight': 190,
  'height': 11,
  'types': ['fire'],
  'abilities': ['solar-power', 'blaze']},
 {'id': 6,
  'name': 'charizard',
  'base_experience': 240,
  'weight': 905,
  'height': 17,
  'types': ['flying', 'fire'],
  'abilities': ['solar-power', 'blaze']},
 {'id': 7,
  'name': 'squirtle',
  'base_experience': 63,
  'weight': 90,
  'height': 5,
  'types': ['water'],
  'abilities': ['rain-dish', 'torrent']},
 {'id': 8,
  'name': 'wartortle',
  'base_experience': 142,
  'weight': 225,
  'height': 10,
  'types': ['water'],
  'abilities': ['rain-dish', 'torrent']},
 {'id': 9,
  'name': 'blastoise',
  'base_experience': 239,
  'weight': 855,
  'height': 16,
  'types': ['water'],
  'abilities': ['rain-dish', 'torrent']},
 {'id': 10,
  'name': 'caterpie',
  'base_experience': 39,
  'weight': 29,
  'height': 3,
  'types': ['bug'],
  'abilities': ['run-away', 'shield-dust']},
 {'id': 11,
  'name': 'metapod',
  'base_experience': 72,
  'weight': 99,
  'height': 7,
  'types': ['bug'],
  'abilities': ['shed-skin']},
 {'id': 12,
  'name': 'butterfree',
  'base_experience': 178,
  'weight': 320,
  'height': 11,
  'types': ['flying', 'bug'],
  'abilities': ['tinted-lens', 'compound-eyes']},
 {'id': 13,
  'name': 'weedle',
  'base_experience': 39,
  'weight': 32,
  'height': 3,
  'types': ['poison', 'bug'],
  'abilities': ['run-away', 'shield-dust']},
 {'id': 14,
  'name': 'kakuna',
  'base_experience': 72,
  'weight': 100,
  'height': 6,
  'types': ['poison', 'bug'],
  'abilities': ['shed-skin']},
 {'id': 15,
  'name': 'beedrill',
  'base_experience': 178,
  'weight': 295,
  'height': 10,
  'types': ['poison', 'bug'],
  'abilities': ['sniper', 'swarm']},
 {'id': 16,
  'name': 'pidgey',
  'base_experience': 50,
  'weight': 18,
  'height': 3,
  'types': ['flying', 'normal'],
  'abilities': ['big-pecks', 'tangled-feet', 'keen-eye']},
 {'id': 17,
  'name': 'pidgeotto',
  'base_experience': 122,
  'weight': 300,
  'height': 11,
  'types': ['flying', 'normal'],
  'abilities': ['big-pecks', 'tangled-feet', 'keen-eye']},
 {'id': 18,
  'name': 'pidgeot',
  'base_experience': 216,
  'weight': 395,
  'height': 15,
  'types': ['flying', 'normal'],
  'abilities': ['big-pecks', 'tangled-feet', 'keen-eye']},
 {'id': 19,
  'name': 'rattata',
  'base_experience': 51,
  'weight': 35,
  'height': 3,
  'types': ['normal'],
  'abilities': ['hustle', 'guts', 'run-away']},
 {'id': 20,
  'name': 'raticate',
  'base_experience': 145,
  'weight': 185,
  'height': 7,
  'types': ['normal'],
  'abilities': ['hustle', 'guts', 'run-away']},
 {'id': 21,
  'name': 'spearow',
  'base_experience': 52,
  'weight': 20,
  'height': 3,
  'types': ['flying', 'normal'],
  'abilities': ['sniper', 'keen-eye']},
 {'id': 22,
  'name': 'fearow',
  'base_experience': 155,
  'weight': 380,
  'height': 12,
  'types': ['flying', 'normal'],
  'abilities': ['sniper', 'keen-eye']},
 {'id': 23,
  'name': 'ekans',
  'base_experience': 58,
  'weight': 69,
  'height': 20,
  'types': ['poison'],
  'abilities': ['unnerve', 'shed-skin', 'intimidate']},
 {'id': 24,
  'name': 'arbok',
  'base_experience': 157,
  'weight': 650,
  'height': 35,
  'types': ['poison'],
  'abilities': ['unnerve', 'shed-skin', 'intimidate']},
 {'id': 25,
  'name': 'pikachu',
  'base_experience': 112,
  'weight': 60,
  'height': 4,
  'types': ['electric'],
  'abilities': ['lightning-rod', 'static']},
 {'id': 26,
  'name': 'raichu',
  'base_experience': 218,
  'weight': 300,
  'height': 8,
  'types': ['electric'],
  'abilities': ['lightning-rod', 'static']},
 {'id': 27,
  'name': 'sandshrew',
  'base_experience': 60,
  'weight': 120,
  'height': 6,
  'types': ['ground'],
  'abilities': ['sand-rush', 'sand-veil']},
 {'id': 28,
  'name': 'sandslash',
  'base_experience': 158,
  'weight': 295,
  'height': 10,
  'types': ['ground'],
  'abilities': ['sand-rush', 'sand-veil']},
 {'id': 29,
  'name': 'nidoran-f',
  'base_experience': 55,
  'weight': 70,
  'height': 4,
  'types': ['poison'],
  'abilities': ['hustle', 'rivalry', 'poison-point']},
 {'id': 30,
  'name': 'nidorina',
  'base_experience': 128,
  'weight': 200,
  'height': 8,
  'types': ['poison'],
  'abilities': ['hustle', 'rivalry', 'poison-point']},
 {'id': 31,
  'name': 'nidoqueen',
  'base_experience': 227,
  'weight': 600,
  'height': 13,
  'types': ['ground', 'poison'],
  'abilities': ['sheer-force', 'rivalry', 'poison-point']},
 {'id': 32,
  'name': 'nidoran-m',
  'base_experience': 55,
  'weight': 90,
  'height': 5,
  'types': ['poison'],
  'abilities': ['hustle', 'rivalry', 'poison-point']},
 {'id': 33,
  'name': 'nidorino',
  'base_experience': 128,
  'weight': 195,
  'height': 9,
  'types': ['poison'],
  'abilities': ['hustle', 'rivalry', 'poison-point']},
 {'id': 34,
  'name': 'nidoking',
  'base_experience': 227,
  'weight': 620,
  'height': 14,
  'types': ['ground', 'poison'],
  'abilities': ['sheer-force', 'rivalry', 'poison-point']},
 {'id': 35,
  'name': 'clefairy',
  'base_experience': 113,
  'weight': 75,
  'height': 6,
  'types': ['fairy'],
  'abilities': ['friend-guard', 'magic-guard', 'cute-charm']},
 {'id': 36,
  'name': 'clefable',
  'base_experience': 217,
  'weight': 400,
  'height': 13,
  'types': ['fairy'],
  'abilities': ['unaware', 'magic-guard', 'cute-charm']},
 {'id': 37,
  'name': 'vulpix',
  'base_experience': 60,
  'weight': 99,
  'height': 6,
  'types': ['fire'],
  'abilities': ['drought', 'flash-fire']},
 {'id': 38,
  'name': 'ninetales',
  'base_experience': 177,
  'weight': 199,
  'height': 11,
  'types': ['fire'],
  'abilities': ['drought', 'flash-fire']},
 {'id': 39,
  'name': 'jigglypuff',
  'base_experience': 95,
  'weight': 55,
  'height': 5,
  'types': ['fairy', 'normal'],
  'abilities': ['friend-guard', 'competitive', 'cute-charm']},
 {'id': 40,
  'name': 'wigglytuff',
  'base_experience': 196,
  'weight': 120,
  'height': 10,
  'types': ['fairy', 'normal'],
  'abilities': ['frisk', 'competitive', 'cute-charm']},
 {'id': 41,
  'name': 'zubat',
  'base_experience': 49,
  'weight': 75,
  'height': 8,
  'types': ['flying', 'poison'],
  'abilities': ['infiltrator', 'inner-focus']},
 {'id': 42,
  'name': 'golbat',
  'base_experience': 159,
  'weight': 550,
  'height': 16,
  'types': ['flying', 'poison'],
  'abilities': ['infiltrator', 'inner-focus']},
 {'id': 43,
  'name': 'oddish',
  'base_experience': 64,
  'weight': 54,
  'height': 5,
  'types': ['poison', 'grass'],
  'abilities': ['run-away', 'chlorophyll']},
 {'id': 44,
  'name': 'gloom',
  'base_experience': 138,
  'weight': 86,
  'height': 8,
  'types': ['poison', 'grass'],
  'abilities': ['stench', 'chlorophyll']},
 {'id': 45,
  'name': 'vileplume',
  'base_experience': 221,
  'weight': 186,
  'height': 12,
  'types': ['poison', 'grass'],
  'abilities': ['effect-spore', 'chlorophyll']},
 {'id': 46,
  'name': 'paras',
  'base_experience': 57,
  'weight': 54,
  'height': 3,
  'types': ['grass', 'bug'],
  'abilities': ['damp', 'dry-skin', 'effect-spore']},
 {'id': 47,
  'name': 'parasect',
  'base_experience': 142,
  'weight': 295,
  'height': 10,
  'types': ['grass', 'bug'],
  'abilities': ['damp', 'dry-skin', 'effect-spore']},
 {'id': 48,
  'name': 'venonat',
  'base_experience': 61,
  'weight': 300,
  'height': 10,
  'types': ['poison', 'bug'],
  'abilities': ['run-away', 'tinted-lens', 'compound-eyes']},
 {'id': 49,
  'name': 'venomoth',
  'base_experience': 158,
  'weight': 125,
  'height': 15,
  'types': ['poison', 'bug'],
  'abilities': ['wonder-skin', 'tinted-lens', 'shield-dust']},
 {'id': 50,
  'name': 'diglett',
  'base_experience': 53,
  'weight': 8,
  'height': 2,
  'types': ['ground'],
  'abilities': ['sand-force', 'arena-trap', 'sand-veil']},
 {'id': 51,
  'name': 'dugtrio',
  'base_experience': 149,
  'weight': 333,
  'height': 7,
  'types': ['ground'],
  'abilities': ['sand-force', 'arena-trap', 'sand-veil']},
 {'id': 52,
  'name': 'meowth',
  'base_experience': 58,
  'weight': 42,
  'height': 4,
  'types': ['normal'],
  'abilities': ['unnerve', 'technician', 'pickup']},
 {'id': 53,
  'name': 'persian',
  'base_experience': 154,
  'weight': 320,
  'height': 10,
  'types': ['normal'],
  'abilities': ['unnerve', 'technician', 'limber']},
 {'id': 54,
  'name': 'psyduck',
  'base_experience': 64,
  'weight': 196,
  'height': 8,
  'types': ['water'],
  'abilities': ['swift-swim', 'cloud-nine', 'damp']},
 {'id': 55,
  'name': 'golduck',
  'base_experience': 175,
  'weight': 766,
  'height': 17,
  'types': ['water'],
  'abilities': ['swift-swim', 'cloud-nine', 'damp']},
 {'id': 56,
  'name': 'mankey',
  'base_experience': 61,
  'weight': 280,
  'height': 5,
  'types': ['fighting'],
  'abilities': ['defiant', 'anger-point', 'vital-spirit']},
 {'id': 57,
  'name': 'primeape',
  'base_experience': 159,
  'weight': 320,
  'height': 10,
  'types': ['fighting'],
  'abilities': ['defiant', 'anger-point', 'vital-spirit']},
 {'id': 58,
  'name': 'growlithe',
  'base_experience': 70,
  'weight': 190,
  'height': 7,
  'types': ['fire'],
  'abilities': ['justified', 'flash-fire', 'intimidate']},
 {'id': 59,
  'name': 'arcanine',
  'base_experience': 194,
  'weight': 1550,
  'height': 19,
  'types': ['fire'],
  'abilities': ['justified', 'flash-fire', 'intimidate']},
 {'id': 60,
  'name': 'poliwag',
  'base_experience': 60,
  'weight': 124,
  'height': 6,
  'types': ['water'],
  'abilities': ['swift-swim', 'damp', 'water-absorb']},
 {'id': 61,
  'name': 'poliwhirl',
  'base_experience': 135,
  'weight': 200,
  'height': 10,
  'types': ['water'],
  'abilities': ['swift-swim', 'damp', 'water-absorb']},
 {'id': 62,
  'name': 'poliwrath',
  'base_experience': 230,
  'weight': 540,
  'height': 13,
  'types': ['fighting', 'water'],
  'abilities': ['swift-swim', 'damp', 'water-absorb']},
 {'id': 63,
  'name': 'abra',
  'base_experience': 62,
  'weight': 195,
  'height': 9,
  'types': ['psychic'],
  'abilities': ['magic-guard', 'inner-focus', 'synchronize']},
 {'id': 64,
  'name': 'kadabra',
  'base_experience': 140,
  'weight': 565,
  'height': 13,
  'types': ['psychic'],
  'abilities': ['magic-guard', 'inner-focus', 'synchronize']},
 {'id': 65,
  'name': 'alakazam',
  'base_experience': 225,
  'weight': 480,
  'height': 15,
  'types': ['psychic'],
  'abilities': ['magic-guard', 'inner-focus', 'synchronize']},
 {'id': 66,
  'name': 'machop',
  'base_experience': 61,
  'weight': 195,
  'height': 8,
  'types': ['fighting'],
  'abilities': ['steadfast', 'no-guard', 'guts']},
 {'id': 67,
  'name': 'machoke',
  'base_experience': 142,
  'weight': 705,
  'height': 15,
  'types': ['fighting'],
  'abilities': ['steadfast', 'no-guard', 'guts']},
 {'id': 68,
  'name': 'machamp',
  'base_experience': 227,
  'weight': 1300,
  'height': 16,
  'types': ['fighting'],
  'abilities': ['steadfast', 'no-guard', 'guts']},
 {'id': 69,
  'name': 'bellsprout',
  'base_experience': 60,
  'weight': 40,
  'height': 7,
  'types': ['poison', 'grass'],
  'abilities': ['gluttony', 'chlorophyll']},
 {'id': 70,
  'name': 'weepinbell',
  'base_experience': 137,
  'weight': 64,
  'height': 10,
  'types': ['poison', 'grass'],
  'abilities': ['gluttony', 'chlorophyll']},
 {'id': 71,
  'name': 'victreebel',
  'base_experience': 221,
  'weight': 155,
  'height': 17,
  'types': ['poison', 'grass'],
  'abilities': ['gluttony', 'chlorophyll']},
 {'id': 72,
  'name': 'tentacool',
  'base_experience': 67,
  'weight': 455,
  'height': 9,
  'types': ['poison', 'water'],
  'abilities': ['rain-dish', 'liquid-ooze', 'clear-body']},
 {'id': 73,
  'name': 'tentacruel',
  'base_experience': 180,
  'weight': 550,
  'height': 16,
  'types': ['poison', 'water'],
  'abilities': ['rain-dish', 'liquid-ooze', 'clear-body']},
 {'id': 74,
  'name': 'geodude',
  'base_experience': 60,
  'weight': 200,
  'height': 4,
  'types': ['ground', 'rock'],
  'abilities': ['sand-veil', 'sturdy', 'rock-head']},
 {'id': 75,
  'name': 'graveler',
  'base_experience': 137,
  'weight': 1050,
  'height': 10,
  'types': ['ground', 'rock'],
  'abilities': ['sand-veil', 'sturdy', 'rock-head']},
 {'id': 76,
  'name': 'golem',
  'base_experience': 223,
  'weight': 3000,
  'height': 14,
  'types': ['ground', 'rock'],
  'abilities': ['sand-veil', 'sturdy', 'rock-head']},
 {'id': 77,
  'name': 'ponyta',
  'base_experience': 82,
  'weight': 300,
  'height': 10,
  'types': ['fire'],
  'abilities': ['flame-body', 'flash-fire', 'run-away']},
 {'id': 78,
  'name': 'rapidash',
  'base_experience': 175,
  'weight': 950,
  'height': 17,
  'types': ['fire'],
  'abilities': ['flame-body', 'flash-fire', 'run-away']},
 {'id': 79,
  'name': 'slowpoke',
  'base_experience': 63,
  'weight': 360,
  'height': 12,
  'types': ['psychic', 'water'],
  'abilities': ['regenerator', 'own-tempo', 'oblivious']},
 {'id': 80,
  'name': 'slowbro',
  'base_experience': 172,
  'weight': 785,
  'height': 16,
  'types': ['psychic', 'water'],
  'abilities': ['regenerator', 'own-tempo', 'oblivious']},
 {'id': 81,
  'name': 'magnemite',
  'base_experience': 65,
  'weight': 60,
  'height': 3,
  'types': ['steel', 'electric'],
  'abilities': ['analytic', 'sturdy', 'magnet-pull']},
 {'id': 82,
  'name': 'magneton',
  'base_experience': 163,
  'weight': 600,
  'height': 10,
  'types': ['steel', 'electric'],
  'abilities': ['analytic', 'sturdy', 'magnet-pull']},
 {'id': 83,
  'name': 'farfetchd',
  'base_experience': 132,
  'weight': 150,
  'height': 8,
  'types': ['flying', 'normal'],
  'abilities': ['defiant', 'inner-focus', 'keen-eye']},
 {'id': 84,
  'name': 'doduo',
  'base_experience': 62,
  'weight': 392,
  'height': 14,
  'types': ['flying', 'normal'],
  'abilities': ['tangled-feet', 'early-bird', 'run-away']},
 {'id': 85,
  'name': 'dodrio',
  'base_experience': 165,
  'weight': 852,
  'height': 18,
  'types': ['flying', 'normal'],
  'abilities': ['tangled-feet', 'early-bird', 'run-away']},
 {'id': 86,
  'name': 'seel',
  'base_experience': 65,
  'weight': 900,
  'height': 11,
  'types': ['water'],
  'abilities': ['ice-body', 'hydration', 'thick-fat']},
 {'id': 87,
  'name': 'dewgong',
  'base_experience': 166,
  'weight': 1200,
  'height': 17,
  'types': ['ice', 'water'],
  'abilities': ['ice-body', 'hydration', 'thick-fat']},
 {'id': 88,
  'name': 'grimer',
  'base_experience': 65,
  'weight': 300,
  'height': 9,
  'types': ['poison'],
  'abilities': ['poison-touch', 'sticky-hold', 'stench']},
 {'id': 89,
  'name': 'muk',
  'base_experience': 175,
  'weight': 300,
  'height': 12,
  'types': ['poison'],
  'abilities': ['poison-touch', 'sticky-hold', 'stench']},
 {'id': 90,
  'name': 'shellder',
  'base_experience': 61,
  'weight': 40,
  'height': 3,
  'types': ['water'],
  'abilities': ['overcoat', 'skill-link', 'shell-armor']},
 {'id': 91,
  'name': 'cloyster',
  'base_experience': 184,
  'weight': 1325,
  'height': 15,
  'types': ['ice', 'water'],
  'abilities': ['overcoat', 'skill-link', 'shell-armor']},
 {'id': 92,
  'name': 'gastly',
  'base_experience': 62,
  'weight': 1,
  'height': 13,
  'types': ['poison', 'ghost'],
  'abilities': ['levitate']},
 {'id': 93,
  'name': 'haunter',
  'base_experience': 142,
  'weight': 1,
  'height': 16,
  'types': ['poison', 'ghost'],
  'abilities': ['levitate']},
 {'id': 94,
  'name': 'gengar',
  'base_experience': 225,
  'weight': 405,
  'height': 15,
  'types': ['poison', 'ghost'],
  'abilities': ['cursed-body']},
 {'id': 95,
  'name': 'onix',
  'base_experience': 77,
  'weight': 2100,
  'height': 88,
  'types': ['ground', 'rock'],
  'abilities': ['weak-armor', 'sturdy', 'rock-head']},
 {'id': 96,
  'name': 'drowzee',
  'base_experience': 66,
  'weight': 324,
  'height': 10,
  'types': ['psychic'],
  'abilities': ['inner-focus', 'forewarn', 'insomnia']},
 {'id': 97,
  'name': 'hypno',
  'base_experience': 169,
  'weight': 756,
  'height': 16,
  'types': ['psychic'],
  'abilities': ['inner-focus', 'forewarn', 'insomnia']},
 {'id': 98,
  'name': 'krabby',
  'base_experience': 65,
  'weight': 65,
  'height': 4,
  'types': ['water'],
  'abilities': ['sheer-force', 'shell-armor', 'hyper-cutter']},
 {'id': 99,
  'name': 'kingler',
  'base_experience': 166,
  'weight': 600,
  'height': 13,
  'types': ['water'],
  'abilities': ['sheer-force', 'shell-armor', 'hyper-cutter']},
 {'id': 100,
  'name': 'voltorb',
  'base_experience': 66,
  'weight': 104,
  'height': 5,
  'types': ['electric'],
  'abilities': ['aftermath', 'static', 'soundproof']},
 {'id': 101,
  'name': 'electrode',
  'base_experience': 172,
  'weight': 666,
  'height': 12,
  'types': ['electric'],
  'abilities': ['aftermath', 'static', 'soundproof']},
 {'id': 102,
  'name': 'exeggcute',
  'base_experience': 65,
  'weight': 25,
  'height': 4,
  'types': ['psychic', 'grass'],
  'abilities': ['harvest', 'chlorophyll']},
 {'id': 103,
  'name': 'exeggutor',
  'base_experience': 186,
  'weight': 1200,
  'height': 20,
  'types': ['psychic', 'grass'],
  'abilities': ['harvest', 'chlorophyll']},
 {'id': 104,
  'name': 'cubone',
  'base_experience': 64,
  'weight': 65,
  'height': 4,
  'types': ['ground'],
  'abilities': ['battle-armor', 'lightning-rod', 'rock-head']},
 {'id': 105,
  'name': 'marowak',
  'base_experience': 149,
  'weight': 450,
  'height': 10,
  'types': ['ground'],
  'abilities': ['battle-armor', 'lightning-rod', 'rock-head']},
 {'id': 106,
  'name': 'hitmonlee',
  'base_experience': 159,
  'weight': 498,
  'height': 15,
  'types': ['fighting'],
  'abilities': ['unburden', 'reckless', 'limber']},
 {'id': 107,
  'name': 'hitmonchan',
  'base_experience': 159,
  'weight': 502,
  'height': 14,
  'types': ['fighting'],
  'abilities': ['inner-focus', 'iron-fist', 'keen-eye']},
 {'id': 108,
  'name': 'lickitung',
  'base_experience': 77,
  'weight': 655,
  'height': 12,
  'types': ['normal'],
  'abilities': ['cloud-nine', 'oblivious', 'own-tempo']},
 {'id': 109,
  'name': 'koffing',
  'base_experience': 68,
  'weight': 10,
  'height': 6,
  'types': ['poison'],
  'abilities': ['levitate']},
 {'id': 110,
  'name': 'weezing',
  'base_experience': 172,
  'weight': 95,
  'height': 12,
  'types': ['poison'],
  'abilities': ['levitate']},
 {'id': 111,
  'name': 'rhyhorn',
  'base_experience': 69,
  'weight': 1150,
  'height': 10,
  'types': ['rock', 'ground'],
  'abilities': ['reckless', 'rock-head', 'lightning-rod']},
 {'id': 112,
  'name': 'rhydon',
  'base_experience': 170,
  'weight': 1200,
  'height': 19,
  'types': ['rock', 'ground'],
  'abilities': ['reckless', 'rock-head', 'lightning-rod']},
 {'id': 113,
  'name': 'chansey',
  'base_experience': 395,
  'weight': 346,
  'height': 11,
  'types': ['normal'],
  'abilities': ['healer', 'serene-grace', 'natural-cure']},
 {'id': 114,
  'name': 'tangela',
  'base_experience': 87,
  'weight': 350,
  'height': 10,
  'types': ['grass'],
  'abilities': ['regenerator', 'leaf-guard', 'chlorophyll']},
 {'id': 115,
  'name': 'kangaskhan',
  'base_experience': 172,
  'weight': 800,
  'height': 22,
  'types': ['normal'],
  'abilities': ['inner-focus', 'scrappy', 'early-bird']},
 {'id': 116,
  'name': 'horsea',
  'base_experience': 59,
  'weight': 80,
  'height': 4,
  'types': ['water'],
  'abilities': ['damp', 'sniper', 'swift-swim']},
 {'id': 117,
  'name': 'seadra',
  'base_experience': 154,
  'weight': 250,
  'height': 12,
  'types': ['water'],
  'abilities': ['damp', 'sniper', 'poison-point']},
 {'id': 118,
  'name': 'goldeen',

In [108]:
# printing first and last elements

print(pokedata[0], pokedata[-1])

{'id': 1, 'name': 'bulbasaur', 'base_experience': 64, 'weight': 69, 'height': 7, 'types': ['poison', 'grass'], 'abilities': ['chlorophyll', 'overgrow']} {'id': 151, 'name': 'mew', 'base_experience': 270, 'weight': 40, 'height': 4, 'types': ['psychic'], 'abilities': ['synchronize']}

## Part 2: Object Oriented Programming

We're going to use the data gathered in the previous section on APIs for this section on Object Oriented Programming to instantiate Pokemon objects and write instance methods.

### Creating a Class

1. Create a class called `Pokemon` with an `__init__` method to instantiate the following attributes:
    - ID
    - Name
    - Base experience
    - Weight
    - Height
    - Types
    - Abilities

In [ ]:
# if you were unable to get the data from the API in the right format,
# uncomment the code below to access a JSON file with the list of dictionaries

# with open('data/pokemon.json') as f:  
#     pokelist = json.load(f)

In [110]:
"""
Create your class below with the correct syntax, including an __init__ method.

"""
        
class Pokemon:
    def __init__ (self,dict_of_info):
        self.ID = dict_of_info['id']
        self.name = dict_of_info['name']
        self.exp = dict_of_info['base_experience']
        self.weight = dict_of_info['weight']
        self.height = dict_of_info['height']
        self.types = dict_of_info['types']
        self.abilities = dict_of_info['abilities']
     
    def bmi(self):
        return round((self.weight*0.1)/((self.height*0.1)**2),2)

    
### Instantiating Objects

2. Using the data you obtained from the API, instantiate the first, fourth and seventh Pokemon. Assign them to the variables `bulbasaur`, `charmander` and `squirtle`.

In [111]:
# Your code here
bulbasaur = Pokemon(pokedata[0])
charmander = Pokemon(pokedata[3])
squirtle = Pokemon(pokedata[6])

In [112]:
# run this cell to test and check your code
# you may need to edit the attribute variable names if you named them differently!

def print_pokeinfo(pokemon_object):
    o = pokemon_object
    print('ID: ' + str(o.ID) + '\n' +
          'Name: ' + o.name.title() + '\n' +
          'Base experience: ' + str(o.exp) + '\n' +
          'Weight: ' + str(o.weight) + '\n' +
          'Height: ' + str(o.height) + '\n' +
          'Types: ' + str(o.types) + '\n' +
          'Abilities: ' + str(o.abilities) + '\n'
         )
    
print_pokeinfo(bulbasaur)
print_pokeinfo(charmander)
print_pokeinfo(squirtle)

ID: 1
Name: Bulbasaur
Base experience: 64
Weight: 69
Height: 7
Types: ['poison', 'grass']
Abilities: ['chlorophyll', 'overgrow']

ID: 4
Name: Charmander
Base experience: 62
Weight: 85
Height: 6
Types: ['fire']
Abilities: ['solar-power', 'blaze']

ID: 7
Name: Squirtle
Base experience: 63
Weight: 90
Height: 5
Types: ['water']
Abilities: ['rain-dish', 'torrent']

### Instance Methods

3. Write an instance method within the class `Pokemon` to find the BMI of a Pokemon. BMI is defined by $\frac{weight}{height^{2}}$ with weight in **kilograms** and height in **meters**. The height and weight data of Pokemon from the API is in **decimeters** and **hectograms** respectively.


    1 decimeter = 0.1 meters
    1 hectogram = 0.1 kilograms

In [113]:
# run this cell to test and check your code
# you will probably have to rerun the code to instantiate your objects

print(bulbasaur.bmi()) # 14.08
print(charmander.bmi()) # 23.61
print(squirtle.bmi()) # 36

14.08
23.61
36.0

## Part 3: SQL and Relational Databases

For this section, we've put the Pokemon data into SQL tables. You won't need to use your list of dictionaries or the JSON file for this section. The schema of `pokemon.db` is as follows:

<img src="data/pokemondb.png" alt="db schema" style="width:500px;"/>

Assign your SQL queries as strings to the variables `q1`, `q2`, etc. and run the cells at the end of this section to print your results as Pandas DataFrames.

- q1: query all columns from `Pokemon` the Pokemon that have base_experience above 200  

  
- q2: query the id, name, type1 and type2 of Pokemon that have **water** types as either their first or second type


- q3: query the average weight of Pokemon by their first type in descending order


- q4: query the Pokemon name, Pokemon type2, and what **type2** has "2xdamage" to


- q5: query the top 5 most common type1s, the minimum height, maximum height, minimum weight and maximum weight of pokemon with those type1s, and what associated type they do "0.5xdamage" to


**Important note on syntax**: use `double quotes ""` when quoting strings **within** your query and wrap the entire query in `single quotes ''` For the column titles that begin with numbers, you need to wrap the column names in double quotes.

In [114]:
cnx = sqlite3.connect('data/pokemon.db')

In [115]:
q1 = 'SELECT * FROM POKEMON WHERE base_experience > 200;'
pd.read_sql(q1, cnx)

     id        name  base_experience  weight  height     type1     type2
0     3    venusaur              236    1000      20     grass    poison
1     6   charizard              240     905      17      fire    flying
2     9   blastoise              239     855      16     water      None
3    18     pidgeot              216     395      15    normal    flying
4    26      raichu              218     300       8  electric      None
5    31   nidoqueen              227     600      13    poison    ground
6    34    nidoking              227     620      14    poison    ground
7    36    clefable              217     400      13     fairy      None
8    45   vileplume              221     186      12     grass    poison
9    62   poliwrath              230     540      13     water  fighting
10   65    alakazam              225     480      15   psychic      None
11   68     machamp              227    1300      16  fighting      None
12   71  victreebel              221     155      17     grass    poison
13   76       golem              223    3000      14      rock    ground
14   94      gengar              225     405      15     ghost    poison
15  113     chansey              395     346      11    normal      None
16  144    articuno              261     554      17       ice    flying
17  145      zapdos              261     526      16  electric    flying
18  146     moltres              261     600      20      fire    flying
19  149   dragonite              270    2100      22    dragon    flying
20  150      mewtwo              306    1220      20   psychic      None
21  151         mew              270      40       4   psychic      None

In [116]:
q2 = 'SELECT id, name, type1, type2 FROM POKEMON WHERE type1 = "water" OR type2 = "water";'
pd.read_sql(q2, cnx)

     id        name  type1     type2
0     7    squirtle  water      None
1     8   wartortle  water      None
2     9   blastoise  water      None
3    54     psyduck  water      None
4    55     golduck  water      None
5    60     poliwag  water      None
6    61   poliwhirl  water      None
7    62   poliwrath  water  fighting
8    72   tentacool  water    poison
9    73  tentacruel  water    poison
10   79    slowpoke  water   psychic
11   80     slowbro  water   psychic
12   86        seel  water      None
13   87     dewgong  water       ice
14   90    shellder  water      None
15   91    cloyster  water       ice
16   98      krabby  water      None
17   99     kingler  water      None
18  116      horsea  water      None
19  117      seadra  water      None
20  118     goldeen  water      None
21  119     seaking  water      None
22  120      staryu  water      None
23  121     starmie  water   psychic
24  129    magikarp  water      None
25  130    gyarados  water    flying
26  131      lapras  water       ice
27  134    vaporeon  water      None
28  138     omanyte   rock     water
29  139     omastar   rock     water
30  140      kabuto   rock     water
31  141    kabutops   rock     water

In [117]:
q3 = 'SELECT ROUND(AVG(weight),2) AS "Average Weight",type1 FROM POKEMON GROUP BY type1 ORDER BY ROUND(AVG(weight),2) DESC;'
pd.read_sql(q3, cnx)

    Average Weight     type1
0           876.11      rock
1           766.00    dragon
2           579.68     water
3           542.86  fighting
4           515.63   psychic
5           500.86    normal
6           480.25      fire
7           480.00       ice
8           452.63    ground
9           317.89  electric
10          279.92     grass
11          273.14    poison
12          237.50     fairy
13          229.92       bug
14          135.67     ghost

In [118]:
q4 = 'SELECT POKEMON.name, POKEMON.type2, TYPES."2xdamage" FROM POKEMON JOIN TYPES ON(POKEMON.type2 = TYPES.name);'
pd.read_sql(q4, cnx)

          name     type2  2xdamage
0    bulbasaur    poison     grass
1      ivysaur    poison     grass
2     venusaur    poison     grass
3    charizard    flying  fighting
4   butterfree    flying  fighting
5       weedle    poison     grass
6       kakuna    poison     grass
7     beedrill    poison     grass
8       pidgey    flying  fighting
9    pidgeotto    flying  fighting
10     pidgeot    flying  fighting
11     spearow    flying  fighting
12      fearow    flying  fighting
13   nidoqueen    ground    poison
14    nidoking    ground    poison
15  jigglypuff     fairy  fighting
16  wigglytuff     fairy  fighting
17       zubat    flying  fighting
18      golbat    flying  fighting
19      oddish    poison     grass
20       gloom    poison     grass
21   vileplume    poison     grass
22       paras     grass    ground
23    parasect     grass    ground
24     venonat    poison     grass
25    venomoth    poison     grass
26   poliwrath  fighting    normal
27  bellsprout    poison     grass
28  weepinbell    poison     grass
29  victreebel    poison     grass
..         ...       ...       ...
37   magnemite     steel      rock
38    magneton     steel      rock
39   farfetchd    flying  fighting
40       doduo    flying  fighting
41      dodrio    flying  fighting
42     dewgong       ice    flying
43    cloyster       ice    flying
44      gastly    poison     grass
45     haunter    poison     grass
46      gengar    poison     grass
47        onix    ground    poison
48   exeggcute   psychic  fighting
49   exeggutor   psychic  fighting
50     rhyhorn      rock    flying
51      rhydon      rock    flying
52     starmie   psychic  fighting
53     mr-mime     fairy  fighting
54     scyther    flying  fighting
55        jynx   psychic  fighting
56    gyarados    flying  fighting
57      lapras       ice    flying
58     omanyte     water    ground
59     omastar     water    ground
60      kabuto     water    ground
61    kabutops     water    ground
62  aerodactyl    flying  fighting
63    articuno    flying  fighting
64      zapdos    flying  fighting
65     moltres    flying  fighting
66   dragonite    flying  fighting

[67 rows x 3 columns]

In [119]:
q5 = 'SELECT type1,MIN(height),MAX(height),MIN(weight),MAX(weight),TYPES."0.5xdamage" FROM POKEMON JOIN TYPES ON(POKEMON.type1=TYPES.name) GROUP BY type1;'
pd.read_sql(q5, cnx)

       type1  MIN(height)  MAX(height)  MIN(weight)  MAX(weight) 0.5xdamage
0        bug            3           15           29          560   fighting
1     dragon           18           40           33         2100       fire
2   electric            3           16           60          666     flying
3      fairy            6           13           75          400   fighting
4   fighting            5           16          195         1300       rock
5       fire            6           20           85         1550        bug
6      ghost           13           16            1          405     poison
7      grass            4           20           25         1200     ground
8     ground            2           19            8         1200     poison
9        ice           14           17          406          554        ice
10    normal            3           22           18         4600       None
11    poison            4           35           10          650   fighting
12   psychic            4           20           40         1220   fighting
13      rock            4           88           75         3000     normal
14     water            3           65           40         2350      steel

## Section 4: Web Scraping

### Accessing Data Using BeautifulSoup

Use BeautifulSoup to get quotes, authors, and tags from [Quotes to Read](http://quotes.toscrape.com/).

Before answering these questions, go to the site and inspect the page. Make sure to look at what links there are and how the site is structured.

1. Get the first author and the path for the author's page as a tuple from the [homepage](http://quotes.toscrape.com/).

In [120]:
# Make a get request to retrieve the page
html_page = requests.get('http://quotes.toscrape.com/') 
# Pass the page contents to beautiful soup for parsing
soup = BeautifulSoup(html_page.content, 'html.parser')

# Your code here

In [121]:
def get_first_author(url):
    html_page = requests.get(url)
    soup = BeautifulSoup(html_page.content,'html.parser')
    return (soup.select('small.author')[0].text,soup.select('span a')[0]['href'])

In [122]:
get_first_author('http://quotes.toscrape.com/')

('Albert Einstein', '/author/Albert-Einstein')

2. Write a function to get **all** the authors and href links for the authors from the [homepage](http://quotes.toscrape.com/)

In [123]:
def authors(url):
    '''
    input: url
    
    return: a dictionary of of authors and their urls
            {'author_1':'url_of_author_1', 'author_2':'url_of_author_2' ...}
    '''
    html_page = requests.get(url)
    soup = BeautifulSoup(html_page.content,'html.parser')
    retVal = {}
    for author_ind in range(len(soup.select('small.author'))):
        retVal[soup.select('small.author')[author_ind].text] = soup.select('span a')[author_ind]['href']
    return retVal

In [124]:
authors('http://quotes.toscrape.com/')

{'Albert Einstein': '/author/Albert-Einstein',
 'J.K. Rowling': '/author/J-K-Rowling',
 'Jane Austen': '/author/Jane-Austen',
 'Marilyn Monroe': '/author/Marilyn-Monroe',
 'Andr Gide': '/author/Andre-Gide',
 'Thomas A. Edison': '/author/Thomas-A-Edison',
 'Eleanor Roosevelt': '/author/Eleanor-Roosevelt',
 'Steve Martin': '/author/Steve-Martin'}

In [125]:
# run this cell to test the function
print(authors('http://quotes.toscrape.com/'))
print('\n')
print(authors('http://quotes.toscrape.com/page/3'))

{'Albert Einstein': '/author/Albert-Einstein', 'J.K. Rowling': '/author/J-K-Rowling', 'Jane Austen': '/author/Jane-Austen', 'Marilyn Monroe': '/author/Marilyn-Monroe', 'Andr Gide': '/author/Andre-Gide', 'Thomas A. Edison': '/author/Thomas-A-Edison', 'Eleanor Roosevelt': '/author/Eleanor-Roosevelt', 'Steve Martin': '/author/Steve-Martin'}


{'Pablo Neruda': '/author/Pablo-Neruda', 'Ralph Waldo Emerson': '/author/Ralph-Waldo-Emerson', 'Mother Teresa': '/author/Mother-Teresa', 'Garrison Keillor': '/author/Garrison-Keillor', 'Jim Henson': '/author/Jim-Henson', 'Dr. Seuss': '/author/Dr-Seuss', 'Albert Einstein': '/author/Albert-Einstein', 'J.K. Rowling': '/author/J-K-Rowling', 'Bob Marley': '/author/Bob-Marley'}

### Pagination

3. Get the first author on each of the first 5 pages of quotes. You can get to the next page with the next button at the bottom of the homepage.

In [126]:
# Your code here
def get_authors_5_pages():
    retVal = []
    root_url = 'http://quotes.toscrape.com/'
    html_page = requests.get(root_url)
    soup = BeautifulSoup(html_page.content,'html.parser')
    for page in range(5):
        retVal.append(soup.select('small.author')[0].text)
        html_page = requests.get(root_url+soup.select('li.next a')[0]['href'])
        soup = BeautifulSoup(html_page.content,'html.parser')
    return retVal

In [127]:
get_authors_5_pages()

['Albert Einstein',
 'Marilyn Monroe',
 'Pablo Neruda',
 'Dr. Seuss',
 'George R.R. Martin']

4. Write a function to get all of the quotes from a page.

In [128]:
def get_some_quotes(url):
    '''
    input: url, number of pages to scrap (just scrape the home page if no argument is passed in)
    
    return: a list of dictionaries of quotes with their attributes
            [{'quote':'quote_1_text', 'author':'url_of_author_1'}, 
            {'quote':'quote_2_text', 'author':'url_of_author_2', 'quote_tags':[list_of_quote_2_tags]}, ...]
    '''
    retVal = []
    html_page = requests.get(url)
    soup = BeautifulSoup(html_page.content,'html.parser')
    quotes = soup.select('div.quote span.text')
    authors = soup.select('div.quote span small.author')
    for i in range(len(quotes)):
        retVal.append({'quote':quotes[i].text,'author':authors[i].text})
    return retVal

In [129]:
# set the function to a variable to use later
quotes_for_mongo = get_some_quotes('http://quotes.toscrape.com/' )
quotes_for_mongo

[{'quote': 'The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.',
  'author': 'Albert Einstein'},
 {'quote': 'It is our choices, Harry, that show what we truly are, far more than our abilities.',
  'author': 'J.K. Rowling'},
 {'quote': 'There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.',
  'author': 'Albert Einstein'},
 {'quote': 'The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.',
  'author': 'Jane Austen'},
 {'quote': "Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.",
  'author': 'Marilyn Monroe'},
 {'quote': 'Try not to become a man of success. Rather become a man of value.',
  'author': 'Albert Einstein'},
 {'quote': 'It is better to be hated for what you are than to be loved for what you are not.',
  'author': 'Andr Gide'},
 {'quote': "I have not failed. I've just found 10,000 ways that won't work.",
  'author': 'Thomas A. Edison'},
 {'quote': "A woman is like a tea bag; you never know how strong it is until it's in hot water.",
  'author': 'Eleanor Roosevelt'},
 {'quote': 'A day without sunshine is like, you know, night.',
  'author': 'Steve Martin'}]

## Part 5: MongoDB

To do this section, open a connection to a mongo database in the terminal, using `mongod`. You will then **create**, **update**, and **read** from a mongo database.

Create and connect to a mongo database.

In [ ]:
myclient = pymongo.MongoClient("mongodb://127.0.0.1:27017/")
mydb = myclient['quote_database']

In [ ]:
mycollection = mydb['quote_collection']

1. Add the quotes you obtained from the `get_some_quotes` function for the [homepage](http://quotes.toscrape.com/) to the mongo database. (You can also use the JSON file `quotes.json` to insert data into the database) To verify that you've successfully inserted the data, query it to obtain the resulting _ids back from the `results` variable.

In [ ]:
# if you were unable to get the data from webscraping in the right format,
# uncomment the code below to access a JSON file with the list of dictionaries

# with open(r"data/quotes.json", "r") as r:
#     data = json.load(r)

In [ ]:
# use the results variable to confirm the data was inserted
results = None

2. Query the database for all the quotes written by `'Albert Einstein'`.

In [ ]:
q1 = None

3. Update Steve Martin's quote with the tags for the quote stored in the variable `steve_martin_tags`.

In [ ]:
steve_martin_tags = {'quote_tags': ['change', 'deep-thoughts', 'thinking', 'world']}
update_steve = None
first_quote_tags = None

4. Query the database to confirm that  `'Steve Martin'` is updated with `steve_martin_tags`.

In [ ]:
q2 = None