# Module 2 Assessment

Welcome to your Mod 2 Assessment. You will be tested for your understanding of concepts and ability to solve problems that have been covered in class and in the curriculum.

Use any libraries you want to solve the problems in the assessment.

You will have up to two hours to complete this assessment.

The sections of the assessment are:

- Accessing Data Through APIs
- Object Oriented Programming
- SQL and Relational Databases
- HTML, CSS and Web Scraping
- Other Database Structures (MongoDB)

In this assessment you will be exploring two datasets: Pokemon and Quotes.

In [34]:
# import the necessary libraries

import requests
import json
import pandas as pd
import sqlite3
from bs4 import BeautifulSoup
# import pymongo -------------------> got an error, "No module named pymongo"

import time

## Part 1: Accessing Data Through APIs

In this section we'll be using PokeAPI to get data on Pokemon. Let's first define functions to get information from the API. Provided below is a URL that will get you started with the first 151 Pokemon! Run the cell below to see what we get.

In [4]:
url = 'https://pokeapi.co/api/v2/pokemon/?limit=151'
results = requests.get(url).json()['results']
results

[{'name': 'bulbasaur', 'url': 'https://pokeapi.co/api/v2/pokemon/1/'},
 {'name': 'ivysaur', 'url': 'https://pokeapi.co/api/v2/pokemon/2/'},
 {'name': 'venusaur', 'url': 'https://pokeapi.co/api/v2/pokemon/3/'},
 {'name': 'charmander', 'url': 'https://pokeapi.co/api/v2/pokemon/4/'},
 {'name': 'charmeleon', 'url': 'https://pokeapi.co/api/v2/pokemon/5/'},
 {'name': 'charizard', 'url': 'https://pokeapi.co/api/v2/pokemon/6/'},
 {'name': 'squirtle', 'url': 'https://pokeapi.co/api/v2/pokemon/7/'},
 {'name': 'wartortle', 'url': 'https://pokeapi.co/api/v2/pokemon/8/'},
 {'name': 'blastoise', 'url': 'https://pokeapi.co/api/v2/pokemon/9/'},
 {'name': 'caterpie', 'url': 'https://pokeapi.co/api/v2/pokemon/10/'},
 {'name': 'metapod', 'url': 'https://pokeapi.co/api/v2/pokemon/11/'},
 {'name': 'butterfree', 'url': 'https://pokeapi.co/api/v2/pokemon/12/'},
 {'name': 'weedle', 'url': 'https://pokeapi.co/api/v2/pokemon/13/'},
 {'name': 'kakuna', 'url': 'https://pokeapi.co/api/v2/pokemon/14/'},
 {'name': 'beedrill', 'url': 'https://pokeapi.co/api/v2/pokemon/15/'},
 {'name': 'pidgey', 'url': 'https://pokeapi.co/api/v2/pokemon/16/'},
 {'name': 'pidgeotto', 'url': 'https://pokeapi.co/api/v2/pokemon/17/'},
 {'name': 'pidgeot', 'url': 'https://pokeapi.co/api/v2/pokemon/18/'},
 {'name': 'rattata', 'url': 'https://pokeapi.co/api/v2/pokemon/19/'},
 {'name': 'raticate', 'url': 'https://pokeapi.co/api/v2/pokemon/20/'},
 {'name': 'spearow', 'url': 'https://pokeapi.co/api/v2/pokemon/21/'},
 {'name': 'fearow', 'url': 'https://pokeapi.co/api/v2/pokemon/22/'},
 {'name': 'ekans', 'url': 'https://pokeapi.co/api/v2/pokemon/23/'},
 {'name': 'arbok', 'url': 'https://pokeapi.co/api/v2/pokemon/24/'},
 {'name': 'pikachu', 'url': 'https://pokeapi.co/api/v2/pokemon/25/'},
 {'name': 'raichu', 'url': 'https://pokeapi.co/api/v2/pokemon/26/'},
 {'name': 'sandshrew', 'url': 'https://pokeapi.co/api/v2/pokemon/27/'},
 {'name': 'sandslash', 'url': 'https://pokeapi.co/api/v2/pokemon/28/'},
 {'name': 'nidoran-f', 'url': 'https://pokeapi.co/api/v2/pokemon/29/'},
 {'name': 'nidorina', 'url': 'https://pokeapi.co/api/v2/pokemon/30/'},
 {'name': 'nidoqueen', 'url': 'https://pokeapi.co/api/v2/pokemon/31/'},
 {'name': 'nidoran-m', 'url': 'https://pokeapi.co/api/v2/pokemon/32/'},
 {'name': 'nidorino', 'url': 'https://pokeapi.co/api/v2/pokemon/33/'},
 {'name': 'nidoking', 'url': 'https://pokeapi.co/api/v2/pokemon/34/'},
 {'name': 'clefairy', 'url': 'https://pokeapi.co/api/v2/pokemon/35/'},
 {'name': 'clefable', 'url': 'https://pokeapi.co/api/v2/pokemon/36/'},
 {'name': 'vulpix', 'url': 'https://pokeapi.co/api/v2/pokemon/37/'},
 {'name': 'ninetales', 'url': 'https://pokeapi.co/api/v2/pokemon/38/'},
 {'name': 'jigglypuff', 'url': 'https://pokeapi.co/api/v2/pokemon/39/'},
 {'name': 'wigglytuff', 'url': 'https://pokeapi.co/api/v2/pokemon/40/'},
 {'name': 'zubat', 'url': 'https://pokeapi.co/api/v2/pokemon/41/'},
 {'name': 'golbat', 'url': 'https://pokeapi.co/api/v2/pokemon/42/'},
 {'name': 'oddish', 'url': 'https://pokeapi.co/api/v2/pokemon/43/'},
 {'name': 'gloom', 'url': 'https://pokeapi.co/api/v2/pokemon/44/'},
 {'name': 'vileplume', 'url': 'https://pokeapi.co/api/v2/pokemon/45/'},
 {'name': 'paras', 'url': 'https://pokeapi.co/api/v2/pokemon/46/'},
 {'name': 'parasect', 'url': 'https://pokeapi.co/api/v2/pokemon/47/'},
 {'name': 'venonat', 'url': 'https://pokeapi.co/api/v2/pokemon/48/'},
 {'name': 'venomoth', 'url': 'https://pokeapi.co/api/v2/pokemon/49/'},
 {'name': 'diglett', 'url': 'https://pokeapi.co/api/v2/pokemon/50/'},
 {'name': 'dugtrio', 'url': 'https://pokeapi.co/api/v2/pokemon/51/'},
 {'name': 'meowth', 'url': 'https://pokeapi.co/api/v2/pokemon/52/'},
 {'name': 'persian', 'url': 'https://pokeapi.co/api/v2/pokemon/53/'},
 {'name': 'psyduck', 'url': 'https://pokeapi.co/api/v2/pokemon/54/'},
 {'name': 'golduck', 'url': 'https://pokeapi.co/api/v2/pokemon/55/'},
 {'name': 'mankey', 'url': 'https://pokeapi.co/api/v2/pokemon/56/'},
 {'name': 'primeape', 'url': 'https://pokeapi.co/api/v2/pokemon/57/'},
 {'name': 'growlithe', 'url': 'https://pokeapi.co/api/v2/pokemon/58/'},
 {'name': 'arcanine', 'url': 'https://pokeapi.co/api/v2/pokemon/59/'},
 {'name': 'poliwag', 'url': 'https://pokeapi.co/api/v2/pokemon/60/'},
 {'name': 'poliwhirl', 'url': 'https://pokeapi.co/api/v2/pokemon/61/'},
 {'name': 'poliwrath', 'url': 'https://pokeapi.co/api/v2/pokemon/62/'},
 {'name': 'abra', 'url': 'https://pokeapi.co/api/v2/pokemon/63/'},
 {'name': 'kadabra', 'url': 'https://pokeapi.co/api/v2/pokemon/64/'},
 {'name': 'alakazam', 'url': 'https://pokeapi.co/api/v2/pokemon/65/'},
 {'name': 'machop', 'url': 'https://pokeapi.co/api/v2/pokemon/66/'},
 {'name': 'machoke', 'url': 'https://pokeapi.co/api/v2/pokemon/67/'},
 {'name': 'machamp', 'url': 'https://pokeapi.co/api/v2/pokemon/68/'},
 {'name': 'bellsprout', 'url': 'https://pokeapi.co/api/v2/pokemon/69/'},
 {'name': 'weepinbell', 'url': 'https://pokeapi.co/api/v2/pokemon/70/'},
 {'name': 'victreebel', 'url': 'https://pokeapi.co/api/v2/pokemon/71/'},
 {'name': 'tentacool', 'url': 'https://pokeapi.co/api/v2/pokemon/72/'},
 {'name': 'tentacruel', 'url': 'https://pokeapi.co/api/v2/pokemon/73/'},
 {'name': 'geodude', 'url': 'https://pokeapi.co/api/v2/pokemon/74/'},
 {'name': 'graveler', 'url': 'https://pokeapi.co/api/v2/pokemon/75/'},
 {'name': 'golem', 'url': 'https://pokeapi.co/api/v2/pokemon/76/'},
 {'name': 'ponyta', 'url': 'https://pokeapi.co/api/v2/pokemon/77/'},
 {'name': 'rapidash', 'url': 'https://pokeapi.co/api/v2/pokemon/78/'},
 {'name': 'slowpoke', 'url': 'https://pokeapi.co/api/v2/pokemon/79/'},
 {'name': 'slowbro', 'url': 'https://pokeapi.co/api/v2/pokemon/80/'},
 {'name': 'magnemite', 'url': 'https://pokeapi.co/api/v2/pokemon/81/'},
 {'name': 'magneton', 'url': 'https://pokeapi.co/api/v2/pokemon/82/'},
 {'name': 'farfetchd', 'url': 'https://pokeapi.co/api/v2/pokemon/83/'},
 {'name': 'doduo', 'url': 'https://pokeapi.co/api/v2/pokemon/84/'},
 {'name': 'dodrio', 'url': 'https://pokeapi.co/api/v2/pokemon/85/'},
 {'name': 'seel', 'url': 'https://pokeapi.co/api/v2/pokemon/86/'},
 {'name': 'dewgong', 'url': 'https://pokeapi.co/api/v2/pokemon/87/'},
 {'name': 'grimer', 'url': 'https://pokeapi.co/api/v2/pokemon/88/'},
 {'name': 'muk', 'url': 'https://pokeapi.co/api/v2/pokemon/89/'},
 {'name': 'shellder', 'url': 'https://pokeapi.co/api/v2/pokemon/90/'},
 {'name': 'cloyster', 'url': 'https://pokeapi.co/api/v2/pokemon/91/'},
 {'name': 'gastly', 'url': 'https://pokeapi.co/api/v2/pokemon/92/'},
 {'name': 'haunter', 'url': 'https://pokeapi.co/api/v2/pokemon/93/'},
 {'name': 'gengar', 'url': 'https://pokeapi.co/api/v2/pokemon/94/'},
 {'name': 'onix', 'url': 'https://pokeapi.co/api/v2/pokemon/95/'},
 {'name': 'drowzee', 'url': 'https://pokeapi.co/api/v2/pokemon/96/'},
 {'name': 'hypno', 'url': 'https://pokeapi.co/api/v2/pokemon/97/'},
 {'name': 'krabby', 'url': 'https://pokeapi.co/api/v2/pokemon/98/'},
 {'name': 'kingler', 'url': 'https://pokeapi.co/api/v2/pokemon/99/'},
 {'name': 'voltorb', 'url': 'https://pokeapi.co/api/v2/pokemon/100/'},
 {'name': 'electrode', 'url': 'https://pokeapi.co/api/v2/pokemon/101/'},
 {'name': 'exeggcute', 'url': 'https://pokeapi.co/api/v2/pokemon/102/'},
 {'name': 'exeggutor', 'url': 'https://pokeapi.co/api/v2/pokemon/103/'},
 {'name': 'cubone', 'url': 'https://pokeapi.co/api/v2/pokemon/104/'},
 {'name': 'marowak', 'url': 'https://pokeapi.co/api/v2/pokemon/105/'},
 {'name': 'hitmonlee', 'url': 'https://pokeapi.co/api/v2/pokemon/106/'},
 {'name': 'hitmonchan', 'url': 'https://pokeapi.co/api/v2/pokemon/107/'},
 {'name': 'lickitung', 'url': 'https://pokeapi.co/api/v2/pokemon/108/'},
 {'name': 'koffing', 'url': 'https://pokeapi.co/api/v2/pokemon/109/'},
 {'name': 'weezing', 'url': 'https://pokeapi.co/api/v2/pokemon/110/'},
 {'name': 'rhyhorn', 'url': 'https://pokeapi.co/api/v2/pokemon/111/'},
 {'name': 'rhydon', 'url': 'https://pokeapi.co/api/v2/pokemon/112/'},
 {'name': 'chansey', 'url': 'https://pokeapi.co/api/v2/pokemon/113/'},
 {'name': 'tangela', 'url': 'https://pokeapi.co/api/v2/pokemon/114/'},
 {'name': 'kangaskhan', 'url': 'https://pokeapi.co/api/v2/pokemon/115/'},
 {'name': 'horsea', 'url': 'https://pokeapi.co/api/v2/pokemon/116/'},
 {'name': 'seadra', 'url': 'https://pokeapi.co/api/v2/pokemon/117/'},
 {'name': 'goldeen', 'url': 'https://pokeapi.co/api/v2/pokemon/118/'},
 {'name': 'seaking', 'url': 'https://pokeapi.co/api/v2/pokemon/119/'},
 {'name': 'staryu', 'url': 'https://pokeapi.co/api/v2/pokemon/120/'},
 {'name': 'starmie', 'url': 'https://pokeapi.co/api/v2/pokemon/121/'},
 {'name': 'mr-mime', 'url': 'https://pokeapi.co/api/v2/pokemon/122/'},
 {'name': 'scyther', 'url': 'https://pokeapi.co/api/v2/pokemon/123/'},
 {'name': 'jynx', 'url': 'https://pokeapi.co/api/v2/pokemon/124/'},
 {'name': 'electabuzz', 'url': 'https://pokeapi.co/api/v2/pokemon/125/'},
 {'name': 'magmar', 'url': 'https://pokeapi.co/api/v2/pokemon/126/'},
 {'name': 'pinsir', 'url': 'https://pokeapi.co/api/v2/pokemon/127/'},
 {'name': 'tauros', 'url': 'https://pokeapi.co/api/v2/pokemon/128/'},
 {'name': 'magikarp', 'url': 'https://pokeapi.co/api/v2/pokemon/129/'},
 {'name': 'gyarados', 'url': 'https://pokeapi.co/api/v2/pokemon/130/'},
 {'name': 'lapras', 'url': 'https://pokeapi.co/api/v2/pokemon/131/'},
 {'name': 'ditto', 'url': 'https://pokeapi.co/api/v2/pokemon/132/'},
 {'name': 'eevee', 'url': 'https://pokeapi.co/api/v2/pokemon/133/'},
 {'name': 'vaporeon', 'url': 'https://pokeapi.co/api/v2/pokemon/134/'},
 {'name': 'jolteon', 'url': 'https://pokeapi.co/api/v2/pokemon/135/'},
 {'name': 'flareon', 'url': 'https://pokeapi.co/api/v2/pokemon/136/'},
 {'name': 'porygon', 'url': 'https://pokeapi.co/api/v2/pokemon/137/'},
 {'name': 'omanyte', 'url': 'https://pokeapi.co/api/v2/pokemon/138/'},
 {'name': 'omastar', 'url': 'https://pokeapi.co/api/v2/pokemon/139/'},
 {'name': 'kabuto', 'url': 'https://pokeapi.co/api/v2/pokemon/140/'},
 {'name': 'kabutops', 'url': 'https://pokeapi.co/api/v2/pokemon/141/'},
 {'name': 'aerodactyl', 'url': 'https://pokeapi.co/api/v2/pokemon/142/'},
 {'name': 'snorlax', 'url': 'https://pokeapi.co/api/v2/pokemon/143/'},
 {'name': 'articuno', 'url': 'https://pokeapi.co/api/v2/pokemon/144/'},
 {'name': 'zapdos', 'url': 'https://pokeapi.co/api/v2/pokemon/145/'},
 {'name': 'moltres', 'url': 'https://pokeapi.co/api/v2/pokemon/146/'},
 {'name': 'dratini', 'url': 'https://pokeapi.co/api/v2/pokemon/147/'},
 {'name': 'dragonair', 'url': 'https://pokeapi.co/api/v2/pokemon/148/'},
 {'name': 'dragonite', 'url': 'https://pokeapi.co/api/v2/pokemon/149/'},
 {'name': 'mewtwo', 'url': 'https://pokeapi.co/api/v2/pokemon/150/'},
 {'name': 'mew', 'url': 'https://pokeapi.co/api/v2/pokemon/151/'}]

[Read the documentation here](https://pokeapi.co/) for information on navigating this API and use the API to obtain data to answer the following questions.

### Accessing Data

1. For any **one** Pokemon, retrieve the following information in a dictionary format with the following keys:
    - ID
    - Name
    - Base experience
    - Weight
    - Height
    - Types
    - Abilities

For `Types` and `Abilities`, you might want to write helper functions to have each attribute just be a list of types and a list of abilities. Your output should look like this:

```
{'id': 1, 
'name': 'bulbasaur', 
'base_experience': 64, 
'weight': 69, 
'height': 7, 
'types': ['poison', 'grass'], 
'abilities': ['chlorophyll', 'overgrow']}

```

In [30]:
# you may define helper functions for types and abilities here

# get the types from the api response and put in a list to return
def get_poke_types(types_dict):
    types = []
    for t in types_dict:
        types.append(t['type']['name'])
    return types

# get the abilities from the api response and put in a list to return
def get_poke_abilities(abilities_dict):
    abilities = []
    for ability in abilities_dict:
        abilities.append(ability['ability']['name'])
    return abilities

In [31]:
# url is a string of the URL that will get you the relevant info from the API
# this function should return the dictionary for ONE pokemon
def get_pokedata(url):
    # create individual dictionary
    pokedata = {}
    
    # make API call & save response
    response = requests.get(url).json()
    
    # create entry for each key
    pokedata['id'] = response['id']
    pokedata['name'] = response['name']
    pokedata['base_experience'] = response['base_experience']
    pokedata['weight'] = response['weight']
    pokedata['height'] = response['height']
    pokedata['types'] = get_poke_types(response['types'])
    pokedata['abilities'] = get_poke_abilities(response['abilities'])
    
    return pokedata

### Pagination

2. Get the same information for the first **151** Pokemon as a list of dictionaries ordered by Pokemon ID. Print the first and last elements of the list. (Hint: Use pagination) Your output should save the list to a variable and look like this:

```
[{'id': 1, 
'name': 'bulbasaur', 
'base_experience': 64, 
'weight': 69, 
'height': 7, 
'types': ['poison', 'grass'], 
'abilities': ['chlorophyll', 'overgrow']}, 
{'id': 2, 
'name': 'ivysaur', 
'base_experience': 142, 
'weight': 130, 
'height': 10, 
'types': ['poison', 'grass'], 
'abilities': ['chlorophyll', 'overgrow']}, ... ]

```

In [42]:
pokedata = []

for pokemon_dict in results:
    pokedata.append(get_pokedata(pokemon_dict['url']))
    
    # print progress for my own sanity, so I know something
    # is happening
    if pokedata[-1]['id'] % 10 == 0:
        print("Progress: Id #", pokedata[-1]['id'], "complete")
    time.sleep(.5)

1
2
3
4
5
6
7
8
9
10
Progress: 10
11
12
13
14
15
16
17
18
19
20
Progress: 20

[{'id': 1,
  'name': 'bulbasaur',
  'base_experience': 64,
  'weight': 69,
  'height': 7,
  'types': ['poison', 'grass'],
  'abilities': ['chlorophyll', 'overgrow']},
 {'id': 2,
  'name': 'ivysaur',
  'base_experience': 142,
  'weight': 130,
  'height': 10,
  'types': ['poison', 'grass'],
  'abilities': ['chlorophyll', 'overgrow']},
 {'id': 3,
  'name': 'venusaur',
  'base_experience': 236,
  'weight': 1000,
  'height': 20,
  'types': ['poison', 'grass'],
  'abilities': ['chlorophyll', 'overgrow']},
 {'id': 4,
  'name': 'charmander',
  'base_experience': 62,
  'weight': 85,
  'height': 6,
  'types': ['fire'],
  'abilities': ['solar-power', 'blaze']},
 {'id': 5,
  'name': 'charmeleon',
  'base_experience': 142,
  'weight': 190,
  'height': 11,
  'types': ['fire'],
  'abilities': ['solar-power', 'blaze']},
 {'id': 6,
  'name': 'charizard',
  'base_experience': 240,
  'weight': 905,
  'height': 17,
  'types': ['flying', 'fire'],
  'abilities': ['solar-power', 'blaze']},
 {'id': 7,
  'name': 'squirtle',
  'base_experience': 63,
  'weight': 90,
  'height': 5,
  'types': ['water'],
  'abilities': ['rain-dish', 'torrent']},
 {'id': 8,
  'name': 'wartortle',
  'base_experience': 142,
  'weight': 225,
  'height': 10,
  'types': ['water'],
  'abilities': ['rain-dish', 'torrent']},
 {'id': 9,
  'name': 'blastoise',
  'base_experience': 239,
  'weight': 855,
  'height': 16,
  'types': ['water'],
  'abilities': ['rain-dish', 'torrent']},
 {'id': 10,
  'name': 'caterpie',
  'base_experience': 39,
  'weight': 29,
  'height': 3,
  'types': ['bug'],
  'abilities': ['run-away', 'shield-dust']},
 {'id': 11,
  'name': 'metapod',
  'base_experience': 72,
  'weight': 99,
  'height': 7,
  'types': ['bug'],
  'abilities': ['shed-skin']},
 {'id': 12,
  'name': 'butterfree',
  'base_experience': 178,
  'weight': 320,
  'height': 11,
  'types': ['flying', 'bug'],
  'abilities': ['tinted-lens', 'compound-eyes']},
 {'id': 13,
  'name': 'weedle',
  'base_experience': 39,
  'weight': 32,
  'height': 3,
  'types': ['poison', 'bug'],
  'abilities': ['run-away', 'shield-dust']},
 {'id': 14,
  'name': 'kakuna',
  'base_experience': 72,
  'weight': 100,
  'height': 6,
  'types': ['poison', 'bug'],
  'abilities': ['shed-skin']},
 {'id': 15,
  'name': 'beedrill',
  'base_experience': 178,
  'weight': 295,
  'height': 10,
  'types': ['poison', 'bug'],
  'abilities': ['sniper', 'swarm']},
 {'id': 16,
  'name': 'pidgey',
  'base_experience': 50,
  'weight': 18,
  'height': 3,
  'types': ['flying', 'normal'],
  'abilities': ['big-pecks', 'tangled-feet', 'keen-eye']},
 {'id': 17,
  'name': 'pidgeotto',
  'base_experience': 122,
  'weight': 300,
  'height': 11,
  'types': ['flying', 'normal'],
  'abilities': ['big-pecks', 'tangled-feet', 'keen-eye']},
 {'id': 18,
  'name': 'pidgeot',
  'base_experience': 216,
  'weight': 395,
  'height': 15,
  'types': ['flying', 'normal'],
  'abilities': ['big-pecks', 'tangled-feet', 'keen-eye']},
 {'id': 19,
  'name': 'rattata',
  'base_experience': 51,
  'weight': 35,
  'height': 3,
  'types': ['normal'],
  'abilities': ['hustle', 'guts', 'run-away']},
 {'id': 20,
  'name': 'raticate',
  'base_experience': 145,
  'weight': 185,
  'height': 7,
  'types': ['normal'],
  'abilities': ['hustle', 'guts', 'run-away']}]

In [38]:
# printing first and last elements
print(pokedata[0], pokedata[-1])

{'id': 1, 'name': 'bulbasaur', 'base_experience': 64, 'weight': 69, 'height': 7, 'types': ['poison', 'grass'], 'abilities': ['chlorophyll', 'overgrow']} {'id': 151, 'name': 'mew', 'base_experience': 270, 'weight': 40, 'height': 4, 'types': ['psychic'], 'abilities': ['synchronize']}

## Part 2: Object Oriented Programming

We're going to use the data gathered in the previous section on APIs for this section on Object Oriented Programming to instantiate Pokemon objects and write instance methods.

### Creating a Class

1. Create a class called `Pokemon` with an `__init__` method to instantiate the following attributes:
    - ID
    - Name
    - Base experience
    - Weight
    - Height
    - Types
    - Abilities

In [ ]:
# if you were unable to get the data from the API in the right format,
# uncomment the code below to access a JSON file with the list of dictionaries

# with open('data/pokemon.json') as f:  
#     pokelist = json.load(f)

In [93]:
"""
Create your class below with the correct syntax, including an __init__ method.

"""
class Pokemon:
    def __init__(self, pokedata):
        self.iD = pokedata['id']
        self.name = pokedata['name']
        self.base_experience = pokedata['base_experience']
        self.weight = pokedata['weight']
        self.height = pokedata['height']
        self.types = pokedata['types']
        self.abilities = pokedata['abilities']

    def __str__(self):
        return f"Hi! I'm a {self.name}!"
    
    def bmi(self):
        h_convert = float(self.height)/10
        w_convert = float(self.weight)/10
        return w_convert/(h_convert*h_convert)

    
### Instantiating Objects

2. Using the data you obtained from the API, instantiate the first, fourth and seventh Pokemon. Assign them to the variables `bulbasaur`, `charmander` and `squirtle`.

In [94]:
# Your code here

bulbasaur = Pokemon(pokedata[0])
charmander = Pokemon(pokedata[3])
squirtle = Pokemon(pokedata[6])

In [95]:
# run this cell to test and check your code
# you may need to edit the attribute variable names if you named them differently!

def print_pokeinfo(pokemon_object):
    o = pokemon_object
    print('ID: ' + str(o.iD) + '\n' +
          'Name: ' + o.name.title() + '\n' +
          'Base experience: ' + str(o.base_experience) + '\n' +
          'Weight: ' + str(o.weight) + '\n' +
          'Height: ' + str(o.height) + '\n' +
          'Types: ' + str(o.types) + '\n' +
          'Abilities: ' + str(o.abilities) + '\n'
         )
    
print_pokeinfo(bulbasaur)
print_pokeinfo(charmander)
print_pokeinfo(squirtle)

ID: 1
Name: Bulbasaur
Base experience: 64
Weight: 69
Height: 7
Types: ['poison', 'grass']
Abilities: ['chlorophyll', 'overgrow']

ID: 4
Name: Charmander
Base experience: 62
Weight: 85
Height: 6
Types: ['fire']
Abilities: ['solar-power', 'blaze']

ID: 7
Name: Squirtle
Base experience: 63
Weight: 90
Height: 5
Types: ['water']
Abilities: ['rain-dish', 'torrent']

### Instance Methods

3. Write an instance method within the class `Pokemon` to find the BMI of a Pokemon. BMI is defined by $\frac{weight}{height^{2}}$ with weight in **kilograms** and height in **meters**. The height and weight data of Pokemon from the API is in **decimeters** and **hectograms** respectively.


    1 decimeter = 0.1 meters
    1 hectogram = 0.1 kilograms

In [96]:
# run this cell to test and check your code
# you will probably have to rerun the code to instantiate your objects
print(bulbasaur.bmi()) # 14.08
print(charmander.bmi()) # 23.61
print(squirtle.bmi()) # 36

14.081632653061227
23.61111111111111
36.0

## Part 3: SQL and Relational Databases

For this section, we've put the Pokemon data into SQL tables. You won't need to use your list of dictionaries or the JSON file for this section. The schema of `pokemon.db` is as follows:

<img src="data/pokemondb.png" alt="db schema" style="width:500px;"/>

Assign your SQL queries as strings to the variables `q1`, `q2`, etc. and run the cells at the end of this section to print your results as Pandas DataFrames.

- q1: query all columns from `Pokemon` the Pokemon that have base_experience above 200  

  
- q2: query the id, name, type1 and type2 of Pokemon that have **water** types as either their first or second type


- q3: query the average weight of Pokemon by their first type in descending order


- q4: query the Pokemon name, Pokemon type2, and what **type2** has "2xdamage" to


- q5: query the top 5 most common type1s, the minimum height, maximum height, minimum weight and maximum weight of pokemon with those type1s, and what associated type they do "0.5xdamage" to


**Important note on syntax**: use `double quotes ""` when quoting strings **within** your query and wrap the entire query in `single quotes ''` For the column titles that begin with numbers, you need to wrap the column names in double quotes.

In [97]:
cnx = sqlite3.connect('data/pokemon.db')

In [98]:
q1 = """SELECT * 
            FROM Pokemon 
            WHERE base_experience > 200"""
pd.read_sql(q1, cnx)

     id        name  base_experience  weight  height     type1     type2
0     3    venusaur              236    1000      20     grass    poison
1     6   charizard              240     905      17      fire    flying
2     9   blastoise              239     855      16     water      None
3    18     pidgeot              216     395      15    normal    flying
4    26      raichu              218     300       8  electric      None
5    31   nidoqueen              227     600      13    poison    ground
6    34    nidoking              227     620      14    poison    ground
7    36    clefable              217     400      13     fairy      None
8    45   vileplume              221     186      12     grass    poison
9    62   poliwrath              230     540      13     water  fighting
10   65    alakazam              225     480      15   psychic      None
11   68     machamp              227    1300      16  fighting      None
12   71  victreebel              221     155      17     grass    poison
13   76       golem              223    3000      14      rock    ground
14   94      gengar              225     405      15     ghost    poison
15  113     chansey              395     346      11    normal      None
16  144    articuno              261     554      17       ice    flying
17  145      zapdos              261     526      16  electric    flying
18  146     moltres              261     600      20      fire    flying
19  149   dragonite              270    2100      22    dragon    flying
20  150      mewtwo              306    1220      20   psychic      None
21  151         mew              270      40       4   psychic      None

In [99]:
q2 = """SELECT id, name, type1, type2 
            FROM Pokemon
            WHERE type1 = 'water' 
                OR type2 = 'water'"""
pd.read_sql(q2, cnx)

     id        name  type1     type2
0     7    squirtle  water      None
1     8   wartortle  water      None
2     9   blastoise  water      None
3    54     psyduck  water      None
4    55     golduck  water      None
5    60     poliwag  water      None
6    61   poliwhirl  water      None
7    62   poliwrath  water  fighting
8    72   tentacool  water    poison
9    73  tentacruel  water    poison
10   79    slowpoke  water   psychic
11   80     slowbro  water   psychic
12   86        seel  water      None
13   87     dewgong  water       ice
14   90    shellder  water      None
15   91    cloyster  water       ice
16   98      krabby  water      None
17   99     kingler  water      None
18  116      horsea  water      None
19  117      seadra  water      None
20  118     goldeen  water      None
21  119     seaking  water      None
22  120      staryu  water      None
23  121     starmie  water   psychic
24  129    magikarp  water      None
25  130    gyarados  water    flying
26  131      lapras  water       ice
27  134    vaporeon  water      None
28  138     omanyte   rock     water
29  139     omastar   rock     water
30  140      kabuto   rock     water
31  141    kabutops   rock     water

In [107]:
q3 = """SELECT AVG(weight) as avg_w, type1
            FROM Pokemon
            GROUP BY type1
            ORDER BY avg_w DESC"""
pd.read_sql(q3, cnx)

         avg_w     type1
0   876.111111      rock
1   766.000000    dragon
2   579.678571     water
3   542.857143  fighting
4   515.625000   psychic
5   500.863636    normal
6   480.250000      fire
7   480.000000       ice
8   452.625000    ground
9   317.888889  electric
10  279.916667     grass
11  273.142857    poison
12  237.500000     fairy
13  229.916667       bug
14  135.666667     ghost

In [115]:
q4 = """SELECT Pokemon.name, type2, types.'2xdamage'
            FROM Pokemon
            JOIN types ON Pokemon.type2 = types.name"""
pd.read_sql(q4, cnx)

          name     type2  2xdamage
0    bulbasaur    poison     grass
1      ivysaur    poison     grass
2     venusaur    poison     grass
3    charizard    flying  fighting
4   butterfree    flying  fighting
5       weedle    poison     grass
6       kakuna    poison     grass
7     beedrill    poison     grass
8       pidgey    flying  fighting
9    pidgeotto    flying  fighting
10     pidgeot    flying  fighting
11     spearow    flying  fighting
12      fearow    flying  fighting
13   nidoqueen    ground    poison
14    nidoking    ground    poison
15  jigglypuff     fairy  fighting
16  wigglytuff     fairy  fighting
17       zubat    flying  fighting
18      golbat    flying  fighting
19      oddish    poison     grass
20       gloom    poison     grass
21   vileplume    poison     grass
22       paras     grass    ground
23    parasect     grass    ground
24     venonat    poison     grass
25    venomoth    poison     grass
26   poliwrath  fighting    normal
27  bellsprout    poison     grass
28  weepinbell    poison     grass
29  victreebel    poison     grass
..         ...       ...       ...
37   magnemite     steel      rock
38    magneton     steel      rock
39   farfetchd    flying  fighting
40       doduo    flying  fighting
41      dodrio    flying  fighting
42     dewgong       ice    flying
43    cloyster       ice    flying
44      gastly    poison     grass
45     haunter    poison     grass
46      gengar    poison     grass
47        onix    ground    poison
48   exeggcute   psychic  fighting
49   exeggutor   psychic  fighting
50     rhyhorn      rock    flying
51      rhydon      rock    flying
52     starmie   psychic  fighting
53     mr-mime     fairy  fighting
54     scyther    flying  fighting
55        jynx   psychic  fighting
56    gyarados    flying  fighting
57      lapras       ice    flying
58     omanyte     water    ground
59     omastar     water    ground
60      kabuto     water    ground
61    kabutops     water    ground
62  aerodactyl    flying  fighting
63    articuno    flying  fighting
64      zapdos    flying  fighting
65     moltres    flying  fighting
66   dragonite    flying  fighting

[67 rows x 3 columns]

In [186]:
# query the top 5 most common type1s, the minimum height, maximum height, 
# minimum weight and maximum weight of pokemon with those type1s, and 
# what associated type they do "0.5xdamage" to

q5 = """SELECT MIN(p.height), MAX(p.height), MIN(p.weight), 
                MAX(p.weight), p.type1, t1.'0.5xdamage' AS t1damage
            FROM Pokemon as p
            JOIN types as t1 ON p.type1 = t1.name
            WHERE type1 in
                (SELECT type1
                     FROM Pokemon
                     GROUP BY type1
                     ORDER BY COUNT(type1) DESC
                     LIMIT 5
                )
            GROUP BY p.type1
            ORDER BY COUNT(type1) DESC"""

pd.read_sql(q5, cnx)

,MIN(p.height),MAX(p.height),MIN(p.weight),MAX(p.weight),type1,t1damage
0,3,65,40,2350,water,steel
1,3,22,18,4600,normal,None
2,4,35,10,650,poison,fighting
3,3,15,29,560,bug,fighting
4,6,20,85,1550,fire,bug

## Section 4: Web Scraping

### Accessing Data Using BeautifulSoup

Use BeautifulSoup to get quotes, authors, and tags from [Quotes to Read](http://quotes.toscrape.com/).

Before answering these questions, go to the site and inspect the page. Make sure to look at what links there are and how the site is structured.

1. Get the first author and the path for the author's page as a tuple from the [homepage](http://quotes.toscrape.com/).

In [234]:
# Make a get request to retrieve the page
html_page = requests.get('http://quotes.toscrape.com/') 
# Pass the page contents to beautiful soup for parsing
soup = BeautifulSoup(html_page.content, 'html.parser')

# gets all the quote divs
all_quotes = soup.find_all("div", "quote")

# gets first quote, then takes the first 'a' tag, and then
# get the link associated with href
first_author_link = all_quotes[0].find("a").attrs['href']
first_author_link

'/author/Albert-Einstein'

2. Write a function to get **all** the authors and href links for the authors from the [homepage](http://quotes.toscrape.com/)

In [239]:
'''
    input: url
    
    return: a dictionary of of authors and their urls
            {'author_1':'url_of_author_1', 'author_2':'url_of_author_2' ...}
    '''

def authors(url):
    author_links = {}
    # Make a get request to retrieve the page
    html_page = requests.get(url) 
    
    # Pass the page contents to beautiful soup for parsing
    soup = BeautifulSoup(html_page.content, 'html.parser')
    
    # gets all the quote divs
    all_quotes = soup.find_all("div", "quote")

    for quote in all_quotes:
        author_name = quote.find("small", "author").string
        # gets first quote, then takes the first 'a' tag, and then
        # get the link associated with href
        author_links[author_name] = quote.find("a").attrs['href']
    return author_links

In [240]:
# run this cell to test the function
print(authors('http://quotes.toscrape.com/'))
print('\n')
print(authors('http://quotes.toscrape.com/page/3'))

{'Albert Einstein': '/author/Albert-Einstein', 'J.K. Rowling': '/author/J-K-Rowling', 'Jane Austen': '/author/Jane-Austen', 'Marilyn Monroe': '/author/Marilyn-Monroe', 'André Gide': '/author/Andre-Gide', 'Thomas A. Edison': '/author/Thomas-A-Edison', 'Eleanor Roosevelt': '/author/Eleanor-Roosevelt', 'Steve Martin': '/author/Steve-Martin'}


{'Pablo Neruda': '/author/Pablo-Neruda', 'Ralph Waldo Emerson': '/author/Ralph-Waldo-Emerson', 'Mother Teresa': '/author/Mother-Teresa', 'Garrison Keillor': '/author/Garrison-Keillor', 'Jim Henson': '/author/Jim-Henson', 'Dr. Seuss': '/author/Dr-Seuss', 'Albert Einstein': '/author/Albert-Einstein', 'J.K. Rowling': '/author/J-K-Rowling', 'Bob Marley': '/author/Bob-Marley'}

### Pagination

3. Get the first author on each of the first 5 pages of quotes. You can get to the next page with the next button at the bottom of the homepage.

In [241]:
url = 'http://quotes.toscrape.com/'
first_author_names = []

for i in range(5):
    i += 1
    curr_url = url + 'page/' + str(i)
    
    # Make a get request to retrieve the page
    html_page = requests.get(curr_url) 
    
    # Pass the page contents to beautiful soup for parsing
    soup = BeautifulSoup(html_page.content, 'html.parser')
    
    # gets all the quote divs
    all_quotes = soup.find_all("div", "quote")
    first_author_names.append(all_quotes[0].find("small", "author").string)

first_author_names

['Albert Einstein',
 'Marilyn Monroe',
 'Pablo Neruda',
 'Dr. Seuss',
 'George R.R. Martin']

4. Write a function to get all of the quotes from a page.

In [320]:
'''
    input: url, number of pages to scrap (just scrape the home page if no argument is passed in)
    
    return: a list of dictionaries of quotes with their attributes
            [{'quote':'quote_1_text', 'author':'url_of_author_1'}, 
            {'quote':'quote_2_text', 'author':'url_of_author_2', 'quote_tags':[list_of_quote_2_tags]}, ...]
            
    ''' 
def get_some_quotes(url, num_pages=None):
    quotes = []
    
    # just scrape the home page if no argument is passed in.
    if num_pages == None:
        num_pages = 1
    
    for i in range(num_pages):
        # progress through pages
        i +=1
        curr_url = url + 'page/' + str(i)

        # Make a get request to retrieve the page
        html_page = requests.get(curr_url) 

        # Pass the page contents to beautiful soup for parsing
        soup = BeautifulSoup(html_page.content, 'html.parser')
                
        # gets all the quote divs
        all_quotes = soup.find_all("div", "quote")
                
        for quote in all_quotes:
            quote_info = {}
            # find quote by finding appropriate class and getting the string
            quote_info['quote'] = quote.find('span', 'text').string
            # find author by finding appropriate class and getting the string
            quote_info['author'] = quote.find("small", "author").string
            # find quptes by getting to the meta tag and splitting the string of tags
            # by commas to get a list of tags
            quote_info['quote_tags'] = quote.find("meta", "keywords")['content'].split(',')
            # add quote info to the list of quotes
            quotes.append(quote_info)
            
        # be respectful don't get blocked!
        time.sleep(.5)
        
    return quotes

In [321]:
# set the function to a variable to use later
quotes_for_mongo = get_some_quotes('http://quotes.toscrape.com/', 3 )
quotes_for_mongo

[{'quote': '“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”',
  'author': 'Albert Einstein',
  'quote_tags': ['change', 'deep-thoughts', 'thinking', 'world']},
 {'quote': '“It is our choices, Harry, that show what we truly are, far more than our abilities.”',
  'author': 'J.K. Rowling',
  'quote_tags': ['abilities', 'choices']},
 {'quote': '“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”',
  'author': 'Albert Einstein',
  'quote_tags': ['inspirational', 'life', 'live', 'miracle', 'miracles']},
 {'quote': '“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”',
  'author': 'Jane Austen',
  'quote_tags': ['aliteracy', 'books', 'classic', 'humor']},
 {'quote': "“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”",
  'author': 'Marilyn Monroe',
  'quote_tags': ['be-yourself', 'inspirational']},
 {'quote': '“Try not to become a man of success. Rather become a man of value.”',
  'author': 'Albert Einstein',
  'quote_tags': ['adulthood', 'success', 'value']},
 {'quote': '“It is better to be hated for what you are than to be loved for what you are not.”',
  'author': 'André Gide',
  'quote_tags': ['life', 'love']},
 {'quote': "“I have not failed. I've just found 10,000 ways that won't work.”",
  'author': 'Thomas A. Edison',
  'quote_tags': ['edison', 'failure', 'inspirational', 'paraphrased']},
 {'quote': "“A woman is like a tea bag; you never know how strong it is until it's in hot water.”",
  'author': 'Eleanor Roosevelt',
  'quote_tags': ['misattributed-eleanor-roosevelt']},
 {'quote': '“A day without sunshine is like, you know, night.”',
  'author': 'Steve Martin',
  'quote_tags': ['humor', 'obvious', 'simile']},
 {'quote': "“This life is what you make it. No matter what, you're going to mess up sometimes, it's a universal truth. But the good part is you get to decide how you're going to mess it up. Girls will be your friends - they'll act like it anyway. But just remember, some come, some go. The ones that stay with you through everything - they're your true best friends. Don't let go of them. Also remember, sisters make the best friends in the world. As for lovers, well, they'll come and go too. And baby, I hate to say it, most of them - actually pretty much all of them are going to break your heart, but you can't give up because if you give up, you'll never find your soulmate. You'll never find that half who makes you whole and that goes for everything. Just because you fail once, doesn't mean you're gonna fail at everything. Keep trying, hold on, and always, always, always believe in yourself, because if you don't, then who will, sweetie? So keep your head high, keep your chin up, and most importantly, keep smiling, because life's a beautiful thing and there's so much to smile about.”",
  'author': 'Marilyn Monroe',
  'quote_tags': ['friends',
   'heartbreak',
   'inspirational',
   'life',
   'love',
   'sisters']},
 {'quote': '“It takes a great deal of bravery to stand up to our enemies, but just as much to stand up to our friends.”',
  'author': 'J.K. Rowling',
  'quote_tags': ['courage', 'friends']},
 {'quote': "“If you can't explain it to a six year old, you don't understand it yourself.”",
  'author': 'Albert Einstein',
  'quote_tags': ['simplicity', 'understand']},
 {'quote': "“You may not be her first, her last, or her only. She loved before she may love again. But if she loves you now, what else matters? She's not perfect—you aren't either, and the two of you may never be perfect together but if she can make you laugh, cause you to think twice, and admit to being human and making mistakes, hold onto her and give her the most you can. She may not be thinking about you every second of the day, but she will give you a part of her that she knows you can break—her heart. So don't hurt her, don't change her, don't analyze and don't expect more than she can give. Smile when she makes you happy, let her know when she makes you mad, and miss her when she's not there.”",
  'author': 'Bob Marley',
  'quote_tags': ['love']},
 {'quote': '“I like nonsense, it wakes up the brain cells. Fantasy is a necessary ingredient in living.”',
  'author': 'Dr. Seuss',
  'quote_tags': ['fantasy']},
 {'quote': '“I may not have gone where I intended to go, but I think I have ended up where I needed to be.”',
  'author': 'Douglas Adams',
  'quote_tags': ['life', 'navigation']},
 {'quote': "“The opposite of love is not hate, it's indifference. The opposite of art is not ugliness, it's indifference. The opposite of faith is not heresy, it's indifference. And the opposite of life is not death, it's indifference.”",
  'author': 'Elie Wiesel',
  'quote_tags': ['activism',
   'apathy',
   'hate',
   'indifference',
   'inspirational',
   'love',
   'opposite',
   'philosophy']},
 {'quote': '“It is not a lack of love, but a lack of friendship that makes unhappy marriages.”',
  'author': 'Friedrich Nietzsche',
  'quote_tags': ['friendship',
   'lack-of-friendship',
   'lack-of-love',
   'love',
   'marriage',
   'unhappy-marriage']},
 {'quote': '“Good friends, good books, and a sleepy conscience: this is the ideal life.”',
  'author': 'Mark Twain',
  'quote_tags': ['books', 'contentment', 'friends', 'friendship', 'life']},
 {'quote': '“Life is what happens to us while we are making other plans.”',
  'author': 'Allen Saunders',
  'quote_tags': ['fate',
   'life',
   'misattributed-john-lennon',
   'planning',
   'plans']},
 {'quote': '“I love you without knowing how, or when, or from where. I love you simply, without problems or pride: I love you in this way because I do not know any other way of loving but this, in which there is no I or you, so intimate that your hand upon my chest is my hand, so intimate that when I fall asleep your eyes close.”',
  'author': 'Pablo Neruda',
  'quote_tags': ['love', 'poetry']},
 {'quote': '“For every minute you are angry you lose sixty seconds of happiness.”',
  'author': 'Ralph Waldo Emerson',
  'quote_tags': ['happiness']},
 {'quote': '“If you judge people, you have no time to love them.”',
  'author': 'Mother Teresa',
  'quote_tags': ['attributed-no-source']},
 {'quote': '“Anyone who thinks sitting in church can make you a Christian must also think that sitting in a garage can make you a car.”',
  'author': 'Garrison Keillor',
  'quote_tags': ['humor', 'religion']},
 {'quote': '“Beauty is in the eye of the beholder and it may be necessary from time to time to give a stupid or misinformed beholder a black eye.”',
  'author': 'Jim Henson',
  'quote_tags': ['humor']},
 {'quote': '“Today you are You, that is truer than true. There is no one alive who is Youer than You.”',
  'author': 'Dr. Seuss',
  'quote_tags': ['comedy', 'life', 'yourself']},
 {'quote': '“If you want your children to be intelligent, read them fairy tales. If you want them to be more intelligent, read them more fairy tales.”',
  'author': 'Albert Einstein',
  'quote_tags': ['children', 'fairy-tales']},
 {'quote': '“It is impossible to live without failing at something, unless you live so cautiously that you might as well not have lived at all - in which case, you fail by default.”',
  'author': 'J.K. Rowling',
  'quote_tags': ['']},
 {'quote': '“Logic will get you from A to Z; imagination will get you everywhere.”',
  'author': 'Albert Einstein',
  'quote_tags': ['imagination']},
 {'quote': '“One good thing about music, when it hits you, you feel no pain.”',
  'author': 'Bob Marley',
  'quote_tags': ['music']}]

## Part 5: MongoDB

To do this section, open a connection to a mongo database in the terminal, using `mongod`. You will then **create**, **update**, and **read** from a mongo database.

Create and connect to a mongo database.

In [ ]:
myclient = pymongo.MongoClient("mongodb://127.0.0.1:27017/")
mydb = myclient['quote_database']

In [ ]:
mycollection = mydb['quote_collection']

1. Add the quotes you obtained from the `get_some_quotes` function for the [homepage](http://quotes.toscrape.com/) to the mongo database. (You can also use the JSON file `quotes.json` to insert data into the database) To verify that you've successfully inserted the data, query it to obtain the resulting _ids back from the `results` variable.

In [ ]:
# if you were unable to get the data from webscraping in the right format,
# uncomment the code below to access a JSON file with the list of dictionaries

# with open(r"data/quotes.json", "r") as r:
#     data = json.load(r)

In [ ]:
# use the results variable to confirm the data was inserted
results = None

2. Query the database for all the quotes written by `'Albert Einstein'`.

In [ ]:
q1 = None

3. Update Steve Martin's quote with the tags for the quote stored in the variable `steve_martin_tags`.

In [ ]:
steve_martin_tags = {'quote_tags': ['change', 'deep-thoughts', 'thinking', 'world']}
update_steve = None
first_quote_tags = None

4. Query the database to confirm that  `'Steve Martin'` is updated with `steve_martin_tags`.

In [ ]:
q2 = None